In [1]:
import sys
import pandas as pd
import numpy as np
sys.path.append("..") # 시스템 경로 변경(MySQLConnect 클래스 부르기 위함)

In [5]:
from MySQLConnect import MySQLConnect

In [6]:
# 접속정보
host = 'kmaster.czypjmusens3.ap-northeast-2.rds.amazonaws.com'
user = 'KMaster'
password = 'kookmin1234'
db = 'km_db'

In [7]:
dc = MySQLConnect(host, user, password, db)

In [8]:
type(dc.getRecord("*", "LEASE_DATA", "A_6 = '26형' and A_11 = '본인' and A_24 = '장애인' and W_14 != '잔(장)'" ))

tuple

###### A11-1 블록의 26형 신청자가 본인이면서 고령자 인 경우(우선공급&일반공급)

In [9]:
A11_data_disabled = pd.DataFrame(list(dc.getRecord("*", "LEASE_DATA", "A_6 = '26형' and A_11 = '본인' and A_24 = '장애인'" )))

In [10]:
len(A11_data_disabled) # 139 row

96

###### 우(장) 와 그외 나머지 데이터로 나누기

In [11]:
A11_disabled_priority = A11_data_disabled.ix[A11_data_disabled.W_14 == "우(장)"]
A11_disabled_general = A11_data_disabled.ix[A11_data_disabled.W_14 != "우(장)"]

In [12]:
len(A11_disabled_priority) # 우선공급 24 row

24

In [13]:
len(A11_disabled_general) # 우선공급 외 72 row

72

###### 우선공급의 당첨여부 확인

In [14]:
A11_disabled_priority.W_4.unique()

array(['당첨'], dtype=object)

###### 일반공급의 당첨여부 확인

In [15]:
A11_disabled_general.W_4.unique()

array(['예비', '당첨', '서류(제)', '서류(부)'], dtype=object)

###### 일반공급이면서 당첨인 경우의 건수 확인

In [16]:
len(A11_disabled_general.ix[A11_disabled_general.W_4=="당첨"]) # 39명

39

###### 일반공급 이면서 당첨/탈락 으로 분류

In [17]:
A11_disabled_general_win = A11_disabled_general.ix[A11_disabled_general.W_4=="당첨"]
A11_disabled_general_lose = A11_disabled_general.ix[A11_disabled_general.W_4!="당첨"]

In [18]:
len(A11_disabled_general_win) # 당첨 : 57명

39

In [19]:
len(A11_disabled_general_lose) # 탈락 : 63명

33

###### 일반 당첨 데이터 중에 '잔' 이 들어간 데이터 확인

In [20]:
A11_disabled_general_win.W_14.unique()

array(['일(장)', '잔(장)'], dtype=object)

In [21]:
A11_disabled_general_win = A11_disabled_general_win.ix[A11_disabled_general_win.W_14 != '잔(장)']

In [22]:
len(A11_disabled_general_win) # 잔(장) 를 뺀 나머지 데이터

29

###### 경쟁률 계산(전체건수 / 당첨자 건수- 잔은 제외한)

In [23]:
len(A11_data_disabled) /  (len(A11_disabled_priority) + len(A11_disabled_general_win))

1.8113207547169812

###### 커트라인 계산

In [28]:
A11_disabled_priority[['W_20', 'A_28']]

    W_20 A_28
1      3   2급
12     5   2급
13     0   1급
14     4   1급
18     0   1급
22     2   1급
33     3   1급
34     4   2급
35     8   1급
37     1   1급
47     7   2급
50     3   1급
53     5   2급
54     3   2급
58     2   2급
64     3   2급
67     4   3급
70     5   3급
74     3   2급
84     4   2급
85     6   2급
92     2   2급
94     0   2급
95     3   1급

###### 50% 이하 / 초과 데이터 나누기(A11_data_disabled : 원본 데이터 에서 진행)

In [31]:
All_disabled_50down = A11_data_disabled.ix[A11_data_disabled.A_32 == '50%이하']
All_disabled_50up = A11_data_disabled.ix[A11_data_disabled.A_32 != '50%이하']

In [32]:
len(All_disabled_50down) # 50% 이하 133 명

93

In [33]:
len(All_disabled_50up) # 50% 초과 6명

3

###### 50% 이하 중 당첨/탈락 데이터 나누기

In [34]:
All_disabled_50down_win = All_disabled_50down.ix[All_disabled_50down.W_4 == "당첨"]
All_disabled_50down_down = All_disabled_50down.ix[All_disabled_50down.W_4 != "당첨"]

In [35]:
len(All_disabled_50down_win) # 50%이하 중 당첨 76

63

In [36]:
len(All_disabled_50down_down) # 50% 이하 중 탈락 57

30

###### 50% 이하 당첨자 중 '잔' 있는지 확인

In [37]:
All_disabled_50down_win.W_14.unique()

array(['우(장)', '일(장)', '잔(장)'], dtype=object)

In [38]:
All_disabled_50down_win = All_disabled_50down_win.ix[All_disabled_50down_win.W_14 != '잔(장)']

In [39]:
len(All_disabled_50down_win)

53

In [40]:
len(All_disabled_50down_win)/len(All_disabled_50down)

0.5698924731182796

In [41]:
len(All_disabled_50down_down)/len(All_disabled_50down)

0.3225806451612903

In [42]:
10/len(All_disabled_50down)

0.10752688172043011

In [43]:
0.5698924731182796 + 0.3225806451612903 + 0.10752688172043011

1.0

###### 50% 초과 중 당첨/탈락 데이터 만들기

In [44]:
All_disabled_50up_win = All_disabled_50up.ix[All_disabled_50up.W_4 == '당첨']
All_disabled_50up_down = All_disabled_50up.ix[All_disabled_50up.W_4 != '당첨']

In [45]:
len(All_disabled_50up_win)

0

In [46]:
len(All_disabled_50up_down)

3

###### 세대주 나이(모집일 당시) 별로 데이터 나누기(A11_data_disabled : 원본 데이터 에서 진행)

In [47]:
A11_data_disabled.ix[A11_data_disabled.A_34 <= 50] # 50살 보다 작은사람 36명

,A_10,A_11,A_12,A_13,A_14,A_15,A_16,A_17,A_18,A_19,...,W_39,W_4,W_40,W_41,W_42,W_5,W_6,W_7,W_8,W_9
3,750120-1******,본인,- 세대주와의 관계 -,,,,,,133**,경기도 성남시 수정구,...,,서류(제),,0,2147483647,273,99997,0,2024,김태*
6,641004-1******,본인,- 세대주와의 관계 -,,,,,,471**,경기도 구리시 동구릉로148번길,...,,당첨,,0,2147483647,44,45,0,3052,박제*
8,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,268,99997,0,4002,
13,840220-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,20,25,0,5025,이소*
14,730419-1******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 별내면,...,,당첨,,0,2147483647,18,20,0,5503,김용*
18,660517-1******,본인,- 세대주와의 관계 -,,,,,,487**,경기도 포천시 호국로,...,,당첨,,0,2147483647,21,25,0,7012,강대*
22,910701-1******,본인,- 세대주와의 관계 -,,,,,,476**,경기 양평군 강하면,...,,당첨,,0,2147483647,19,23,0,10545,유건*
25,861117-1******,본인,- 세대주와의 관계 -,,,,,,415**,경기도 김포시 김포한강8로,...,,서류(제),,0,2147483647,130,99997,0,50034,허성*
26,670505-1******,본인,- 세대주와의 관계 -,,,,,,119**,경기도 구리시 경춘로16번길,...,,당첨,,0,2147483647,12,42,0,50057,장요*
31,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,116,99997,0,50124,
32,741120-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,13,180,0,50177,류현*
33,710427-2******,본인,- 세대주와의 관계 -,,,,,,139**,서울 노원구 하계동,...,,당첨,,0,2147483647,4,21,0,50185,이현*
35,700119-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,17,19,0,50262,최민*
36,830117-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 호평동,...,,당첨,,0,2147483647,149,156,0,50273,천미*
37,720203-2******,본인,- 세대주와의 관계 -,,,,,,063**,서울특별시 강남구 삼성로,...,,당첨,,0,2147483647,5,24,0,50308,노연*
38,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,96,99997,0,50441,
39,650423-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,예비,,0,2147483647,61,268,51,50466,채수*
40,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,118,99997,0,50485,
41,690123-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,131,126,0,50529,박철*
42,700117-1******,본인,- 세대주와의 관계 -,,,,,,047**,서울특별시 성동구 왕십리로,...,,서류(제),,0,2147483647,153,99997,0,50532,김기*
43,660713-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,79,88,0,50546,정숙*
44,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,99,99997,0,50578,
49,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(부),,0,2147483647,297,99998,0,50884,
51,820428-2******,본인,- 세대주와의 관계 -,,,,,,480**,경기 의정부시 신곡동,...,,예비,,0,2147483647,69,268,64,50994,이해*
52,750124-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 별내3로,...,,예비,,0,2147483647,115,161,29,1023,양창*
56,800720-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 진건오남로690번길,...,,예비,,0,2147483647,127,175,42,1169,박인*
58,630727-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 광주시 곤지암읍,...,,당첨,,0,2147483647,18,20,0,1361,김기*
65,740319-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 별내3로,...,,예비,,0,2147483647,42,144,21,10039,공일*
66,820917-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 별내3로,...,,예비,,0,2147483647,36,144,15,10072,정석*
67,660315-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 별내3로,...,,당첨,,0,2147483647,4,22,0,10138,안기*
69,641008-1******,본인,- 세대주와의 관계 -,,,,,,,서울 도봉구 창1동,...,,예비,,0,2147483647,28,128,1,10227,유강*
71,680501-1******,본인,- 세대주와의 관계 -,,,,,,,부산광역시 동래구 명륜로,...,,예비,,0,2147483647,52,178,48,10396,정진*
80,721115-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 김포시 김포한강8로,...,,서류(제),,0,2147483647,17,99997,0,50172,윤동*
90,780224-1******,본인,- 세대주와의 관계 -,,,,,,,경기도 남양주시 별내3로,...,,당첨,,0,2147483647,45,50,0,80286,김장*
91,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(부),,0,2147483647,141,99998,0,80324,고아*
92,671221-1******,본인,- 세대주와의 관계 -,,,,,,,경기 남양주시 퇴계원면,...,,당첨,,0,2147483647,9,12,0,80363,김상*

##### 세대주 나이 구간화

In [48]:
bins = [19,29,39,49,99] # range 범위 지정
group_names = ['20대', '30대','40대','50대이상'] # 지정할 그룹명
categories = pd.cut(A11_data_disabled['A_34'], bins, labels=group_names) # range 변수

In [49]:
A11_data_disabled['categories'] = pd.cut(A11_data_disabled['A_34'], bins, labels=group_names) # range column 추가

In [50]:
A11_data_disabled.W_4 == "당첨"

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9      True
10    False
11     True
12     True
13     True
14     True
15    False
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25    False
26     True
27     True
28     True
29     True
      ...
66    False
67     True
68     True
69    False
70     True
71    False
72     True
73    False
74     True
75     True
76     True
77     True
78     True
79    False
80    False
81     True
82     True
83     True
84     True
85     True
86     True
87    False
88    False
89     True
90     True
91    False
92     True
93     True
94     True
95     True
Name: W_4, dtype: bool

In [51]:
A11_data_disabled.categories.unique()

[50대이상, 30대, 40대, 20대]
Categories (4, object): [20대 < 30대 < 40대 < 50대이상]

###### 나이구간화 데이터 중 나누기(30,40,50대)

In [56]:
A11_data_disabled_30 = A11_data_disabled.ix[A11_data_disabled.categories == '30대']
A11_data_disabled_40 = A11_data_disabled.ix[A11_data_disabled.categories == '40대']
A11_data_disabled_50 = A11_data_disabled.ix[A11_data_disabled.categories == '50대이상']

In [57]:
len(A11_data_disabled_30) # 30 대 11명

11

In [58]:
len(A11_data_disabled_40) # 40대 19명

19

In [60]:
len(A11_data_disabled_50) # 60명

60

###### 각 나이대별 당첨/탈락 데이터 나누기

In [61]:
## 30대
A11_data_disabled_30_win = A11_data_disabled_30.ix[A11_data_disabled_30.W_4 == '당첨']
A11_data_disabled_30_down = A11_data_disabled_30.ix[A11_data_disabled_30.W_4 != '당첨']
## 40대
A11_data_disabled_40_win = A11_data_disabled_40.ix[A11_data_disabled_40.W_4 == '당첨']
A11_data_disabled_40_down = A11_data_disabled_40.ix[A11_data_disabled_40.W_4 != '당첨']
## 50대
A11_data_disabled_50_win = A11_data_disabled_50.ix[A11_data_disabled_50.W_4 == '당첨']
A11_data_disabled_50_down = A11_data_disabled_50.ix[A11_data_disabled_50.W_4 != '당첨']

###### 30대 당첨/탈락 및 잔(장) 여부

In [62]:
len(A11_data_disabled_30_win) # 잔(장) 빼기 전 4row

4

In [63]:
len(A11_data_disabled_30_down) # 탈락 데이터 7row

7

In [64]:
A11_data_disabled_30_win.W_14.unique()

array(['우(장)', '일(장)'], dtype=object)

In [75]:
len(A11_data_disabled_30_win)/len(A11_data_disabled_30)

0.36363636363636365

In [76]:
len(A11_data_disabled_30_down)/len(A11_data_disabled_30)

0.6363636363636364

In [77]:
0.6363636363636364 + 0.36363636363636365

1.0

###### 40대 당첨/탈락 및 잔(장) 여부

In [65]:
len(A11_data_disabled_40_win) # 잔(장) 빼기 전 10row

10

In [66]:
len(A11_data_disabled_40_down) # 탈락 데이터 9row

9

In [67]:
A11_data_disabled_40_win.W_14.unique()

array(['잔(장)', '우(장)', '일(장)'], dtype=object)

In [68]:
A11_data_disabled_40_win = A11_data_disabled_40_win.ix[A11_data_disabled_40_win.W_14 != '잔(장)']

In [69]:
len(A11_data_disabled_40_win) # 잔(장) 뺀 후 8row

8

In [78]:
len(A11_data_disabled_40_win) / len(A11_data_disabled_40)

0.42105263157894735

In [79]:
len(A11_data_disabled_40_down) / len(A11_data_disabled_40)

0.47368421052631576

In [80]:
2 / len(A11_data_disabled_40)

0.10526315789473684

In [81]:
0.42105263157894735 + 0.47368421052631576 + 0.10526315789473684

0.9999999999999999

###### 50대 당첨/탈락 및 잔(장) 여부

In [70]:
len(A11_data_disabled_50_win) # 잔(장) 빼기 전 46row

46

In [71]:
len(A11_data_disabled_50_down) # 탈락 데이터 14row

14

In [72]:
A11_data_disabled_50_win.W_14.unique()

array(['우(장)', '일(장)', '잔(장)'], dtype=object)

In [73]:
A11_data_disabled_50_win = A11_data_disabled_50_win.ix[A11_data_disabled_50_win.W_14 != '잔(장)']

In [74]:
len(A11_data_disabled_50_win) # 잔(장) 뺀 후 38row

38

In [84]:
len(A11_data_disabled_50_win)/len(A11_data_disabled_50)

0.6333333333333333

In [86]:
len(A11_data_disabled_50_down)/len(A11_data_disabled_50)

0.23333333333333334

In [87]:
8/len(A11_data_disabled_50)

0.13333333333333333

In [88]:
0.6333333333333333+0.23333333333333334+0.13333333333333333

1.0

##### 부양가족 수 구간화

In [89]:
child_bins = [0,1,2,3] # range 범위 지정
child_group_names = ['1인', '2인', '3인'] # 지정할 그룹명
child_categories = pd.cut(A11_data_disabled['A_35'], child_bins, labels=child_group_names) # range 변수

In [90]:
A11_data_disabled['child_div'] = pd.cut(A11_data_disabled['A_35'], child_bins, labels=child_group_names) # range column 추가

In [91]:
A11_data_disabled['child_div'].count()

24

In [92]:
A11_disabled_child1 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '1인']
A11_disabled_child2 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '2인']
A11_disabled_child3 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '3인']

In [93]:
len(A11_disabled_child1) # 1인 12명

15

In [94]:
len(A11_disabled_child2) # 2인 2명

4

In [95]:
len(A11_disabled_child3) # 3인 1명

5

###### 1인 부양가족의 당첨/탈락 데이터 나누기

In [96]:
A11_disabled_child1_win = A11_disabled_child1.ix[A11_disabled_child1.W_4 == "당첨"]
A11_disabled_child1_down = A11_disabled_child1.ix[A11_disabled_child1.W_4 != '당첨']

In [97]:
len(A11_disabled_child1_win)

11

In [98]:
len(A11_disabled_child1_down)

4

In [99]:
A11_disabled_child1_win.W_14.unique()

array(['일(장)', '잔(장)', '우(장)'], dtype=object)

In [100]:
A11_disabled_child1_win = A11_disabled_child1_win.ix[A11_disabled_child1_win.W_14 != '잔(장)']

In [101]:
len(A11_disabled_child1_win)

9

In [102]:
len(A11_disabled_child1_win)/len(A11_disabled_child1)

0.6

In [103]:
len(A11_disabled_child1_down)/len(A11_disabled_child1)

0.26666666666666666

In [105]:
2/len(A11_disabled_child1)

0.13333333333333333

In [106]:
0.6 + 0.26666666666666666+0.13333333333333333

1.0

###### 부양가족수 2인 당첨/탈락 데이터 나누기

In [110]:
A11_disabled_child2_win = A11_disabled_child2.ix[A11_disabled_child2.W_4 == "당첨"]
A11_disabled_child2_down = A11_disabled_child2.ix[A11_disabled_child2.W_4 != '당첨']

In [111]:
len(A11_disabled_child2_win)

3

In [112]:
len(A11_disabled_child2_down)

1

In [113]:
A11_disabled_child2_win.W_14.unique()

array(['잔(장)', '우(장)'], dtype=object)

In [114]:
A11_disabled_child2_win = A11_disabled_child2_win.ix[A11_disabled_child2_win.W_14 != '잔(장)']

In [115]:
len(A11_disabled_child2_win)

2

In [116]:
len(A11_disabled_child2_win) / len(A11_disabled_child2)

0.5

In [117]:
len(A11_disabled_child2_down) / len(A11_disabled_child2)

0.25

In [118]:
1 / len(A11_disabled_child2)

0.25

In [119]:
0.5 + 0.25 + 0.25

1.0

###### 부양가족수 3인 인 경우 당첨인원

In [120]:
A11_disabled_child3_win = A11_disabled_child3.ix[A11_disabled_child3.W_4 == "당첨"]
A11_disabled_child3_down = A11_disabled_child3.ix[A11_disabled_child3.W_4 != '당첨']

In [121]:
len(A11_disabled_child3_win)

2

In [122]:
len(A11_disabled_child3_down)

3

In [123]:
A11_disabled_child3_win.W_14.unique()

array(['잔(장)', '우(장)'], dtype=object)

In [124]:
A11_disabled_child3_win = A11_disabled_child3_win.ix[A11_disabled_child3_win.W_14 != '잔(장)']

In [125]:
len(A11_disabled_child3_win)

1

In [126]:
len(A11_disabled_child3_win) / len(A11_disabled_child3)

0.2

In [127]:
len(A11_disabled_child3_down) / len(A11_disabled_child3)

0.6

In [128]:
1 / len(A11_disabled_child3)

0.2

In [130]:
0.2 + 0.6 + 0.2

1.0

##### 거주기간 구간화

In [131]:
resi_bins = [0,3,5,100] # range 범위 지정
resi_group_names = ['1_3년', '3_5년', '5년이상'] # 지정할 그룹명
resi_categories = pd.cut(A11_data_disabled['A_22'],  resi_bins,False, labels=resi_group_names) # range 변수

In [132]:
A11_data_disabled['resi_categories'] = pd.cut(A11_data_disabled['A_22'], resi_bins, labels=resi_group_names) # range column 추가

In [133]:
A11_data_disabled[['A_22','resi_categories']]

    A_22 resi_categories
0      0             NaN
1      0             NaN
2      0             NaN
3      0             NaN
4      0             NaN
5      0             NaN
6      5            3_5년
7      0             NaN
8      0             NaN
9      0             NaN
10     0             NaN
11     0             NaN
12     3            1_3년
13     0             NaN
14    14            5년이상
15     0             NaN
16     8            5년이상
17     0             NaN
18     0             NaN
19     0             NaN
20    21            5년이상
21     0             NaN
22     0             NaN
23     2            1_3년
24     1            1_3년
25     0             NaN
26     0             NaN
27    10            5년이상
28     3            1_3년
29    53            5년이상
..   ...             ...
66     0             NaN
67     0             NaN
68     0             NaN
69     0             NaN
70     0             NaN
71     0             NaN
72     0             NaN
73     2            1_3년
74     0             NaN
75     5            3_5년
76     0             NaN
77     0             NaN
78    18            5년이상
79     0             NaN
80     0             NaN
81     0             NaN
82     4            3_5년
83     0             NaN
84     0             NaN
85     0             NaN
86     3            1_3년
87     0             NaN
88     0             NaN
89     0             NaN
90     1            1_3년
91     1            1_3년
92     0             NaN
93     0             NaN
94     0             NaN
95     0             NaN

[96 rows x 2 columns]

##### 거주기간 별로 data 분리

In [134]:
A11_disabled_oneTothree = A11_data_disabled.ix[A11_data_disabled.resi_categories == "1_3년"]
A11_disabled_threeTofive = A11_data_disabled.ix[A11_data_disabled.resi_categories == "3_5년"]
A11_disabled_five = A11_data_disabled.ix[A11_data_disabled.resi_categories == "5년이상"]

In [135]:
len(A11_disabled_oneTothree)

14

In [136]:
len(A11_disabled_threeTofive)

4

In [137]:
len(A11_disabled_five)

9

###### 1~3년 이상 당첨/탈락 데이터 나누기

In [138]:
A11_disabled_oneTothree_win = A11_disabled_oneTothree.ix[A11_disabled_oneTothree.W_4 == '당첨']
A11_disabled_oneTothree_lose = A11_disabled_oneTothree.ix[A11_disabled_oneTothree.W_4 != '당첨']

In [139]:
len(A11_disabled_oneTothree_win) # 당첨자 10명

10

In [141]:
len(A11_disabled_oneTothree_lose) # 탈락자 4명

4

In [142]:
A11_disabled_oneTothree_win.W_14

12    우(장)
23    일(장)
24    잔(장)
28    잔(장)
30    일(장)
35    우(장)
36    일(장)
41    일(장)
86    일(장)
90    일(장)
Name: W_14, dtype: object

In [143]:
A11_disabled_oneTothree_win = A11_disabled_oneTothree_win.ix[A11_disabled_oneTothree_win.W_14 != '잔(장)']

In [144]:
len(A11_disabled_oneTothree_win)

8

In [145]:
len(A11_disabled_oneTothree_win)/len(A11_disabled_oneTothree)

0.5714285714285714

In [148]:
len(A11_disabled_oneTothree_lose)/len(A11_disabled_oneTothree)

0.2857142857142857

In [147]:
2/len(A11_disabled_oneTothree)

0.14285714285714285

In [149]:
0.5714285714285714+0.2857142857142857+0.14285714285714285

1.0

###### 3~5년 데이터 당첨/탈락 데이터 나누기

In [150]:
A11_disabled_threeTofive_win = A11_disabled_threeTofive.ix[A11_disabled_threeTofive.W_4 == '당첨']
A11_disabled_threeTofive_lose = A11_disabled_threeTofive.ix[A11_disabled_threeTofive.W_4 != '당첨']

In [151]:
len(A11_disabled_threeTofive_win)

4

In [152]:
len(A11_disabled_threeTofive_lose)

0

In [153]:
A11_disabled_threeTofive_win.W_14.unique()

array(['잔(장)', '일(장)'], dtype=object)

In [154]:
A11_disabled_threeTofive_win = A11_disabled_threeTofive_win.ix[A11_disabled_threeTofive_win.W_14 != '잔(장)']

In [155]:
len(A11_disabled_threeTofive_win)

2

In [156]:
len(A11_disabled_threeTofive_win)/len(A11_disabled_threeTofive)

0.5

In [157]:
2/len(A11_disabled_threeTofive)

0.5

In [149]:
0.8+0.2

1.0

###### 5년이상 데이터 당첨/탈락 데이터 나누기

In [158]:
A11_disabled_five_win = A11_disabled_five.ix[A11_disabled_five.W_4 == '당첨']
A11_disabled_five_lose = A11_disabled_five.ix[A11_disabled_five.W_4 != '당첨']

In [159]:
len(A11_disabled_five_win)

7

In [160]:
len(A11_disabled_five_lose)

2

In [161]:
A11_disabled_five_win.W_14.unique()

array(['우(장)', '잔(장)', '일(장)'], dtype=object)

In [164]:
A11_disabled_five_win = A11_disabled_five_win.ix[A11_disabled_five_win.W_14 != '잔(장)']

In [165]:
len(A11_disabled_five_win)

3

In [166]:
len(A11_disabled_five_win)/len(A11_disabled_five)

0.3333333333333333

In [167]:
len(A11_disabled_five_lose)/len(A11_disabled_five)

0.2222222222222222

In [168]:
4 / len(A11_disabled_five)

0.4444444444444444

In [169]:
0.3333333333333333+0.2222222222222222+0.4444444444444444

1.0

###### 당첨자 중 건설근로자

In [172]:
A11_disabled_priority[['A_24', 'W_4', 'W_35']] # 장애인 중 당첨형태가 우선공급인 자에 대한 건설근로자여부 확인 : 없음

   A_24 W_4 W_35
1   장애인  당첨
12  장애인  당첨
13  장애인  당첨
14  장애인  당첨
18  장애인  당첨
22  장애인  당첨
33  장애인  당첨
34  장애인  당첨
35  장애인  당첨    Y
37  장애인  당첨
47  장애인  당첨
50  장애인  당첨
53  장애인  당첨
54  장애인  당첨
58  장애인  당첨
64  장애인  당첨
67  장애인  당첨
70  장애인  당첨
74  장애인  당첨
84  장애인  당첨
85  장애인  당첨
92  장애인  당첨
94  장애인  당첨
95  장애인  당첨

In [174]:
A11_disabled_priority[['A_24', 'W_4', 'W_35']]

   A_24 W_4 W_35
1   장애인  당첨
12  장애인  당첨
13  장애인  당첨
14  장애인  당첨
18  장애인  당첨
22  장애인  당첨
33  장애인  당첨
34  장애인  당첨
35  장애인  당첨    Y
37  장애인  당첨
47  장애인  당첨
50  장애인  당첨
53  장애인  당첨
54  장애인  당첨
58  장애인  당첨
64  장애인  당첨
67  장애인  당첨
70  장애인  당첨
74  장애인  당첨
84  장애인  당첨
85  장애인  당첨
92  장애인  당첨
94  장애인  당첨
95  장애인  당첨

In [175]:
1 / len(A11_disabled_priority[['A_24', 'W_4', 'W_35']])

0.041666666666666664

In [176]:
23 / len(A11_disabled_priority[['A_24', 'W_4', 'W_35']])

0.9583333333333334

In [177]:
0.041666666666666664 + 0.9583333333333334

1.0

###### 탈락자 중 건설근로자

In [178]:
A11_disabled_general_lose[['A_24', 'W_4', 'W_35']]

   A_24    W_4 W_35
0   장애인     예비
3   장애인  서류(제)
4   장애인  서류(제)
5   장애인     예비
8   장애인  서류(제)
10  장애인  서류(제)
15  장애인  서류(제)
17  장애인  서류(제)
19  장애인  서류(제)
25  장애인  서류(제)
31  장애인  서류(제)
38  장애인  서류(제)    Y
39  장애인     예비
40  장애인  서류(제)
42  장애인  서류(제)
44  장애인  서류(제)
45  장애인  서류(제)
48  장애인  서류(부)
49  장애인  서류(부)    Y
51  장애인     예비
52  장애인     예비
56  장애인     예비
61  장애인     예비
65  장애인     예비
66  장애인     예비
69  장애인     예비
71  장애인     예비
73  장애인  서류(제)
79  장애인  서류(제)
80  장애인  서류(제)
87  장애인     예비
88  장애인     예비
91  장애인  서류(부)

In [183]:
len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

33

In [179]:
2 / len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

0.06060606060606061

In [181]:
(len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']]) - 2) / len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

0.9393939393939394

In [182]:
0.06060606060606061 + 0.9393939393939394

1.0

##### 청약 불입회수 분리

In [184]:
not_save_bins = [36,48,60,200] # range 범위 지정
not_save_group_names = ['36회이상', '48회이상', '60회이상'] # 지정할 그룹명
not_save_categories = pd.cut(A11_data_disabled['A_46'],  not_save_bins,False, labels=not_save_group_names) # range 변수

In [185]:
A11_data_disabled['not_save_categories'] = pd.cut(A11_data_disabled['A_46'], not_save_bins, labels=not_save_group_names) # range column 추가

In [186]:
A11_data_disabled[['A_46', 'not_save_categories']]

    A_46 not_save_categories
0      0                 NaN
1      0                 NaN
2      0                 NaN
3      0                 NaN
4      0                 NaN
5      0                 NaN
6      0                 NaN
7      0                 NaN
8      0                 NaN
9      0                 NaN
10     0                 NaN
11    67               60회이상
12     0                 NaN
13     0                 NaN
14     0                 NaN
15     0                 NaN
16     0                 NaN
17     0                 NaN
18     0                 NaN
19     0                 NaN
20     0                 NaN
21     0                 NaN
22     0                 NaN
23     0                 NaN
24     0                 NaN
25    15                 NaN
26     0                 NaN
27     0                 NaN
28     0                 NaN
29     0                 NaN
..   ...                 ...
66     0                 NaN
67    30                 NaN
68    42               36회이상
69    41               36회이상
70    42               36회이상
71    39               36회이상
72     0                 NaN
73     0                 NaN
74     0                 NaN
75     0                 NaN
76    76               60회이상
77     0                 NaN
78     0                 NaN
79     0                 NaN
80     0                 NaN
81     0                 NaN
82     0                 NaN
83     0                 NaN
84     0                 NaN
85   147               60회이상
86     0                 NaN
87    59               48회이상
88     0                 NaN
89     0                 NaN
90    36                 NaN
91     0                 NaN
92     0                 NaN
93     0                 NaN
94     0                 NaN
95     0                 NaN

[96 rows x 2 columns]

In [187]:
A11_disabled_36 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '36회이상']
A11_disabled_48 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '48회이상']
A11_disabled_60 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '60회이상']

In [188]:
len(A11_disabled_36) # 36회 이상

6

In [189]:
len(A11_disabled_48) # 48회 이상

2

In [190]:
len(A11_disabled_60) # 60회 이상

4

###### 36회 이상 데이터 당첨/탈락 나누기

In [191]:
A11_disabled_36_win = A11_disabled_36.ix[A11_disabled_36.W_4 == '당첨']
A11_disabled_36_lose = A11_disabled_36.ix[A11_disabled_36.W_4 != '당첨']

In [192]:
A11_disabled_36_win.W_14

33    우(장)
63    일(장)
68    일(장)
70    우(장)
Name: W_14, dtype: object

In [193]:
A11_disabled_36_lose.W_14

69    N(장)
71    N(장)
Name: W_14, dtype: object

In [194]:
len(A11_disabled_36_win) / len(A11_disabled_36)

0.6666666666666666

In [195]:
len(A11_disabled_36_lose) / len(A11_disabled_36)

0.3333333333333333

In [198]:
0.6666666666666666+0.3333333333333333

1.0

###### 48회 이상 당첨/탈락 데이터 나누기

In [199]:
A11_disabled_48.W_4

53    당첨
87    예비
Name: W_4, dtype: object

In [200]:
A11_disabled_48.W_14

53    우(장)
87    N(장)
Name: W_14, dtype: object

###### 60회 이상 당첨/탈락 데이터 나누기

In [212]:
A11_disabled_60_win = A11_disabled_60.ix[A11_disabled_60.W_4 == '당첨']
A11_disabled_60_down = A11_disabled_60.ix[A11_disabled_60.W_4 != '당첨']

In [213]:
len(A11_disabled_60_win)

3

In [214]:
len(A11_disabled_60_down)

1

In [215]:
A11_disabled_60_win.W_4

11    당첨
76    당첨
85    당첨
Name: W_4, dtype: object

In [216]:
A11_disabled_60_win.W_14

11    잔(장)
76    일(장)
85    우(장)
Name: W_14, dtype: object

In [217]:
A11_disabled_60_win = A11_disabled_60_win.ix[A11_disabled_60_win.W_14 != '잔(장)' ]

In [218]:
len(A11_disabled_60_win)

2

In [219]:
len(A11_disabled_60_win) / len(A11_disabled_60)

0.5

In [220]:
len(A11_disabled_60_down) / len(A11_disabled_60)

0.25

In [221]:
1 / len(A11_disabled_60)

0.25

In [189]:
0.375+0.625

1.0

###### 계약사실 분리 데이터

In [222]:
def f(x) :
    if x['W_24'] == -5:
        return "1년이내"
    elif x['W_24'] == -3:
        return "3년이내"
    else:
        return "해당없음"

In [223]:
A11_data_disabled['minus_div'] = A11_data_disabled.apply(f, axis=1)

###### 계약사실 데이터 1년이내/3년이내 나누기

In [224]:
A11_data_disabled_one = A11_data_disabled.ix[A11_data_disabled.minus_div == "1년이내"]
A11_data_disabled_three = A11_data_disabled.ix[A11_data_disabled.minus_div == "3년이내"]

In [225]:
len(A11_data_disabled_one)

3

In [226]:
len(A11_data_disabled_three)

3

In [227]:
A11_data_disabled_one[['W_4', 'W_24']]

      W_4  W_24
30     당첨    -5
42  서류(제)    -5
94     당첨    -5

In [229]:
A11_data_disabled_one.W_14

30    일(장)
42    N(장)
94    우(장)
Name: W_14, dtype: object

In [230]:
A11_data_disabled_three[['W_4','W_14', 'W_24']]

   W_4  W_14  W_24
5   예비  N(장)    -3
18  당첨  우(장)    -3
41  당첨  일(장)    -3

###### 장애인 등급 별 데이터 나누기

In [265]:
A11_data_disabled_onegrade = A11_data_disabled.ix[A11_data_disabled.A_28 == '1급']
A11_data_disabled_twograde = A11_data_disabled.ix[A11_data_disabled.A_28 == '2급']
A11_data_disabled_threegrade = A11_data_disabled.ix[A11_data_disabled.A_28 == '3급']
A11_data_disabled_fourgrade = A11_data_disabled.ix[(A11_data_disabled.A_28 == '4급') | (A11_data_disabled.A_28 == '5급')]

In [266]:
len(A11_data_disabled_onegrade)

10

In [267]:
len(A11_data_disabled_twograde)

19

In [268]:
len(A11_data_disabled_threegrade)

26

In [269]:
len(A11_data_disabled_fourgrade)

29

In [278]:
## 1급
A11_data_disabled_onegrade_win = A11_data_disabled_onegrade.ix[A11_data_disabled_onegrade.W_4 == '당첨']
A11_data_disabled_onegrade_lose = A11_data_disabled_onegrade.ix[A11_data_disabled_onegrade.W_4 != '당첨']
## 2급
A11_data_disabled_twograde_win = A11_data_disabled_twograde.ix[A11_data_disabled_twograde.W_4 == '당첨']
A11_data_disabled_twograde_lose = A11_data_disabled_twograde.ix[A11_data_disabled_twograde.W_4 != '당첨']
## 3급
A11_data_disabled_threegrade_win = A11_data_disabled_threegrade.ix[A11_data_disabled_threegrade.W_4 == '당첨']
A11_data_disabled_threegrade_lose = A11_data_disabled_threegrade.ix[A11_data_disabled_threegrade.W_4 != '당첨']
## 4급
A11_data_disabled_fourgrade_win = A11_data_disabled_fourgrade.ix[A11_data_disabled_fourgrade.W_4 == '당첨']
A11_data_disabled_fourgrade_lose = A11_data_disabled_fourgrade.ix[A11_data_disabled_fourgrade.W_4 != '당첨']

In [272]:
len(A11_data_disabled_onegrade_win.W_14)

9

In [273]:
len(A11_data_disabled_onegrade_lose.W_14)

1

In [274]:
len(A11_data_disabled_onegrade_win.W_14) / len(A11_data_disabled_onegrade)

0.9

In [246]:
len(A11_data_disabled_onegrade_lose.W_14) / len(A11_data_disabled_onegrade)

0.1

In [247]:
0.9+0.1

1.0

In [248]:
len(A11_data_disabled_twograde_win.W_14)

14

In [249]:
len(A11_data_disabled_twograde_lose.W_14)

5

In [251]:
A11_data_disabled_twograde_win.W_14

1     우(장)
12    우(장)
32    일(장)
34    우(장)
47    우(장)
53    우(장)
54    우(장)
58    우(장)
64    우(장)
74    우(장)
84    우(장)
85    우(장)
92    우(장)
94    우(장)
Name: W_14, dtype: object

In [250]:
len(A11_data_disabled_twograde_win.W_14) / len(A11_data_disabled_twograde)

0.7368421052631579

In [252]:
len(A11_data_disabled_twograde_lose.W_14) / len(A11_data_disabled_twograde)

0.2631578947368421

In [253]:
0.7368421052631579+0.2631578947368421

1.0

In [254]:
len(A11_data_disabled_threegrade_win)

17

In [255]:
len(A11_data_disabled_threegrade_lose)

9

In [256]:
A11_data_disabled_threegrade_win.W_14

6     잔(장)
9     일(장)
11    잔(장)
21    일(장)
24    잔(장)
26    잔(장)
27    잔(장)
29    잔(장)
30    일(장)
41    일(장)
43    일(장)
67    우(장)
70    우(장)
78    일(장)
82    일(장)
90    일(장)
93    일(장)
Name: W_14, dtype: object

In [257]:
A11_data_disabled_threegrade_win = A11_data_disabled_threegrade_win.ix[A11_data_disabled_threegrade_win.W_14 != '잔(장)']

In [258]:
len(A11_data_disabled_threegrade_win)

11

In [259]:
len(A11_data_disabled_threegrade_win) / len(A11_data_disabled_threegrade)

0.4230769230769231

In [260]:
len(A11_data_disabled_threegrade_lose) / len(A11_data_disabled_threegrade)

0.34615384615384615

In [261]:
6 / len(A11_data_disabled_threegrade)

0.23076923076923078

In [262]:
0.4230769230769231+0.34615384615384615+0.23076923076923078

1.0

In [275]:
A11_data_disabled_fourgrade_win.W_14

2     일(장)
7     일(장)
16    잔(장)
23    일(장)
28    잔(장)
46    잔(장)
55    일(장)
57    일(장)
59    일(장)
60    일(장)
62    일(장)
63    일(장)
75    일(장)
76    일(장)
77    일(장)
81    일(장)
83    일(장)
86    일(장)
89    일(장)
Name: W_14, dtype: object

In [279]:
len(A11_data_disabled_fourgrade_win)

19

In [280]:
A11_data_disabled_fourgrade_win = A11_data_disabled_fourgrade_win.ix[A11_data_disabled_fourgrade_win.W_14 != '잔(장)']

In [281]:
len(A11_data_disabled_fourgrade_win)

16

In [282]:
len(A11_data_disabled_fourgrade_lose)

10

In [283]:
len(A11_data_disabled_fourgrade_win) / len(A11_data_disabled_fourgrade)

0.5517241379310345

In [284]:
len(A11_data_disabled_fourgrade_lose) / len(A11_data_disabled_fourgrade)

0.3448275862068966

In [285]:
3 / len(A11_data_disabled_fourgrade)

0.10344827586206896

In [286]:
0.5517241379310345+0.3448275862068966+0.10344827586206896

1.0