In [38]:
import sys
import pandas as pd
import numpy as np
sys.path.append("..") # 시스템 경로 변경(MySQLConnect 클래스 부르기 위함)

In [39]:
from MySQLConnect import MySQLConnect

In [40]:
# 접속정보
host = 'kmaster.czypjmusens3.ap-northeast-2.rds.amazonaws.com'
user = 'KMaster'
password = 'kookmin1234'
db = 'km_db'

In [41]:
dc = MySQLConnect(host, user, password, db)

del

In [42]:
type(dc.getRecord("*", "LEASE_DATA", "A_6 = '26형' and A_11 = '본인' and A_24 = '장애인' and W_14 != '잔(장)'" ))

tuple

###### A11-1 블록의 26형 신청자가 본인이면서 고령자 인 경우(우선공급&일반공급)

In [62]:
A11_data_disabled = pd.DataFrame(list(dc.getRecord("*", "LEASE_DATA", "BLOCK_NM = 'A11-1' and A_6 = '26형' and A_11 = '본인' and A_24 = '장애인'" )))

In [63]:
len(A11_data_disabled) #  52row

52

###### 우(장) 와 그외 나머지 데이터로 나누기

In [64]:
A11_disabled_priority = A11_data_disabled.ix[A11_data_disabled.W_14 == "우(장)"]
A11_disabled_general = A11_data_disabled.ix[A11_data_disabled.W_14 != "우(장)"]

In [65]:
len(A11_disabled_priority) # 우선공급 24 row

12

In [66]:
len(A11_disabled_general) # 우선공급 외 72 row

40

###### 우선공급의 당첨여부 확인

In [67]:
A11_disabled_priority.W_4.unique()

array(['당첨'], dtype=object)

###### 일반공급의 당첨여부 확인

In [68]:
A11_disabled_general.W_4.unique()

array(['예비', '당첨', '서류(제)', '서류(부)'], dtype=object)

###### 일반공급이면서 당첨인 경우의 건수 확인

In [69]:
len(A11_disabled_general.ix[A11_disabled_general.W_4=="당첨"]) # 20명

20

###### 일반공급 이면서 당첨/탈락 으로 분류

In [70]:
A11_disabled_general_win = A11_disabled_general.ix[A11_disabled_general.W_4=="당첨"]
A11_disabled_general_lose = A11_disabled_general.ix[A11_disabled_general.W_4!="당첨"]

In [71]:
len(A11_disabled_general_win) # 당첨 : 20명

20

In [72]:
len(A11_disabled_general_lose) # 탈락 : 20명

20

###### 일반 당첨 데이터 중에 '잔' 이 들어간 데이터 확인

In [73]:
A11_disabled_general_win.W_14.unique()

array(['일(장)', '잔(장)'], dtype=object)

In [74]:
A11_disabled_general_win = A11_disabled_general_win.ix[A11_disabled_general_win.W_14 != '잔(장)']

In [75]:
len(A11_disabled_general_win) # 잔(장) 를 뺀 나머지 데이터

10

###### 경쟁률 계산(전체건수 / 당첨자 건수- 잔은 제외한)

In [320]:
len(A11_data_disabled) /  (len(A11_disabled_priority) + len(A11_disabled_general_win))

2.3636363636363638

###### 커트라인 계산

In [26]:
A11_disabled_priority[['W_20', 'A_28']]

    W_20 A_28
1      3   2급
12     5   2급
13     0   1급
14     4   1급
18     0   1급
22     2   1급
33     3   1급
34     4   2급
35     8   1급
37     1   1급
47     7   2급
50     3   1급
53     5   2급
54     3   2급
58     2   2급
64     3   2급
67     4   3급
70     5   3급
74     3   2급
84     4   2급
85     6   2급
92     2   2급
94     0   2급
95     3   1급

###### 50% 이하 / 초과 데이터 나누기(A11_data_disabled : 원본 데이터 에서 진행)

In [77]:
All_disabled_50down = A11_data_disabled.ix[A11_data_disabled.A_32 == '50%이하']
All_disabled_50up = A11_data_disabled.ix[A11_data_disabled.A_32 != '50%이하']

In [78]:
len(All_disabled_50down) # 50% 이하 133 명

52

In [79]:
len(All_disabled_50up) # 50% 초과 6명

0

###### 50% 이하 중 당첨/탈락 데이터 나누기

In [80]:
All_disabled_50down_win = All_disabled_50down.ix[All_disabled_50down.W_4 == "당첨"]
All_disabled_50down_down = All_disabled_50down.ix[All_disabled_50down.W_4 != "당첨"]

In [81]:
len(All_disabled_50down_win) # 50%이하 중 당첨 76

32

In [82]:
len(All_disabled_50down_down) # 50% 이하 중 탈락 57

20

###### 50% 이하 당첨자 중 '잔' 있는지 확인

In [83]:
All_disabled_50down_win.W_14.unique()

array(['우(장)', '일(장)', '잔(장)'], dtype=object)

In [84]:
All_disabled_50down_win = All_disabled_50down_win.ix[All_disabled_50down_win.W_14 != '잔(장)']

In [85]:
len(All_disabled_50down_win)

22

In [86]:
len(All_disabled_50down_win)/len(All_disabled_50down)

0.4230769230769231

In [87]:
len(All_disabled_50down_down)/len(All_disabled_50down)

0.38461538461538464

In [88]:
10/len(All_disabled_50down)

0.19230769230769232

In [89]:
0.5698924731182796 + 0.3225806451612903 + 0.10752688172043011

1.0

###### 50% 초과 중 당첨/탈락 데이터 만들기

In [90]:
All_disabled_50up_win = All_disabled_50up.ix[All_disabled_50up.W_4 == '당첨']
All_disabled_50up_down = All_disabled_50up.ix[All_disabled_50up.W_4 != '당첨']

In [91]:
len(All_disabled_50up_win)

0

In [92]:
len(All_disabled_50up_down)

0

###### 세대주 나이(모집일 당시) 별로 데이터 나누기(A11_data_disabled : 원본 데이터 에서 진행)

In [93]:
A11_data_disabled.ix[A11_data_disabled.A_34 <= 50] # 50살 보다 작은사람 36명

,A_10,A_11,A_12,A_13,A_14,A_15,A_16,A_17,A_18,A_19,...,W_39,W_4,W_40,W_41,W_42,W_5,W_6,W_7,W_8,W_9
3,750120-1******,본인,- 세대주와의 관계 -,,,,,,133**,경기도 성남시 수정구,...,,서류(제),,0,2147483647,273,99997,0,2024,김태*
6,641004-1******,본인,- 세대주와의 관계 -,,,,,,471**,경기도 구리시 동구릉로148번길,...,,당첨,,0,2147483647,44,45,0,3052,박제*
8,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,268,99997,0,4002,
13,840220-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,20,25,0,5025,이소*
14,730419-1******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 별내면,...,,당첨,,0,2147483647,18,20,0,5503,김용*
18,660517-1******,본인,- 세대주와의 관계 -,,,,,,487**,경기도 포천시 호국로,...,,당첨,,0,2147483647,21,25,0,7012,강대*
22,910701-1******,본인,- 세대주와의 관계 -,,,,,,476**,경기 양평군 강하면,...,,당첨,,0,2147483647,19,23,0,10545,유건*
25,861117-1******,본인,- 세대주와의 관계 -,,,,,,415**,경기도 김포시 김포한강8로,...,,서류(제),,0,2147483647,130,99997,0,50034,허성*
26,670505-1******,본인,- 세대주와의 관계 -,,,,,,119**,경기도 구리시 경춘로16번길,...,,당첨,,0,2147483647,12,42,0,50057,장요*
31,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,116,99997,0,50124,
32,741120-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,13,180,0,50177,류현*
33,710427-2******,본인,- 세대주와의 관계 -,,,,,,139**,서울 노원구 하계동,...,,당첨,,0,2147483647,4,21,0,50185,이현*
35,700119-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,17,19,0,50262,최민*
36,830117-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 호평동,...,,당첨,,0,2147483647,149,156,0,50273,천미*
37,720203-2******,본인,- 세대주와의 관계 -,,,,,,063**,서울특별시 강남구 삼성로,...,,당첨,,0,2147483647,5,24,0,50308,노연*
38,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,96,99997,0,50441,
39,650423-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,예비,,0,2147483647,61,268,51,50466,채수*
40,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,118,99997,0,50485,
41,690123-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,131,126,0,50529,박철*
42,700117-1******,본인,- 세대주와의 관계 -,,,,,,047**,서울특별시 성동구 왕십리로,...,,서류(제),,0,2147483647,153,99997,0,50532,김기*
43,660713-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,,당첨,,0,2147483647,79,88,0,50546,정숙*
44,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(제),,0,2147483647,99,99997,0,50578,
49,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,,서류(부),,0,2147483647,297,99998,0,50884,
51,820428-2******,본인,- 세대주와의 관계 -,,,,,,480**,경기 의정부시 신곡동,...,,예비,,0,2147483647,69,268,64,50994,이해*

##### 세대주 나이 구간화

In [94]:
bins = [19,29,39,49,99] # range 범위 지정
group_names = ['20대', '30대','40대','50대이상'] # 지정할 그룹명
categories = pd.cut(A11_data_disabled['A_34'], bins, labels=group_names) # range 변수

In [95]:
A11_data_disabled['categories'] = pd.cut(A11_data_disabled['A_34'], bins, labels=group_names) # range column 추가

In [96]:
A11_data_disabled.W_4 == "당첨"

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7      True
8     False
9      True
10    False
11     True
12     True
13     True
14     True
15    False
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25    False
26     True
27     True
28     True
29     True
30     True
31    False
32     True
33     True
34     True
35     True
36     True
37     True
38    False
39    False
40    False
41     True
42    False
43     True
44    False
45    False
46     True
47     True
48    False
49    False
50     True
51    False
Name: W_4, dtype: bool

In [97]:
A11_data_disabled.categories.unique()

[50대이상, 30대, 40대, 20대]
Categories (4, object): [20대 < 30대 < 40대 < 50대이상]

###### 나이구간화 데이터 중 나누기(30,40,50대)

In [98]:
A11_data_disabled_30 = A11_data_disabled.ix[A11_data_disabled.categories == '30대']
A11_data_disabled_40 = A11_data_disabled.ix[A11_data_disabled.categories == '40대']
A11_data_disabled_50 = A11_data_disabled.ix[A11_data_disabled.categories == '50대이상']

In [99]:
len(A11_data_disabled_30) # 30 대 11명

6

In [100]:
len(A11_data_disabled_40) # 40대 19명

13

In [101]:
len(A11_data_disabled_50) # 60명

28

###### 각 나이대별 당첨/탈락 데이터 나누기

In [102]:
## 30대
A11_data_disabled_30_win = A11_data_disabled_30.ix[A11_data_disabled_30.W_4 == '당첨']
A11_data_disabled_30_down = A11_data_disabled_30.ix[A11_data_disabled_30.W_4 != '당첨']
## 40대
A11_data_disabled_40_win = A11_data_disabled_40.ix[A11_data_disabled_40.W_4 == '당첨']
A11_data_disabled_40_down = A11_data_disabled_40.ix[A11_data_disabled_40.W_4 != '당첨']
## 50대
A11_data_disabled_50_win = A11_data_disabled_50.ix[A11_data_disabled_50.W_4 == '당첨']
A11_data_disabled_50_down = A11_data_disabled_50.ix[A11_data_disabled_50.W_4 != '당첨']

###### 30대 당첨/탈락 및 잔(장) 여부

In [103]:
len(A11_data_disabled_30_win) # 잔(장) 빼기 전 4row

3

In [104]:
len(A11_data_disabled_30_down) # 탈락 데이터 7row

3

In [105]:
A11_data_disabled_30_win.W_14.unique()

array(['우(장)', '일(장)'], dtype=object)

In [106]:
len(A11_data_disabled_30_win)/len(A11_data_disabled_30)

0.5

In [107]:
len(A11_data_disabled_30_down)/len(A11_data_disabled_30)

0.5

In [108]:
0.6363636363636364 + 0.36363636363636365

1.0

###### 40대 당첨/탈락 및 잔(장) 여부

In [109]:
len(A11_data_disabled_40_win) # 잔(장) 빼기 전 10row

7

In [110]:
len(A11_data_disabled_40_down) # 탈락 데이터 9row

6

In [111]:
A11_data_disabled_40_win.W_14.unique()

array(['잔(장)', '우(장)', '일(장)'], dtype=object)

In [112]:
A11_data_disabled_40_win = A11_data_disabled_40_win.ix[A11_data_disabled_40_win.W_14 != '잔(장)']

In [113]:
len(A11_data_disabled_40_win) # 잔(장) 뺀 후 8row

5

In [114]:
len(A11_data_disabled_40_win) / len(A11_data_disabled_40)

0.38461538461538464

In [115]:
len(A11_data_disabled_40_down) / len(A11_data_disabled_40)

0.46153846153846156

In [116]:
2 / len(A11_data_disabled_40)

0.15384615384615385

In [117]:
0.42105263157894735 + 0.47368421052631576 + 0.10526315789473684

0.9999999999999999

###### 50대 당첨/탈락 및 잔(장) 여부

In [118]:
len(A11_data_disabled_50_win) # 잔(장) 빼기 전 46row

19

In [119]:
len(A11_data_disabled_50_down) # 탈락 데이터 14row

9

In [120]:
A11_data_disabled_50_win.W_14.unique()

array(['우(장)', '일(장)', '잔(장)'], dtype=object)

In [121]:
A11_data_disabled_50_win = A11_data_disabled_50_win.ix[A11_data_disabled_50_win.W_14 != '잔(장)']

In [122]:
len(A11_data_disabled_50_win) # 잔(장) 뺀 후 38row

11

In [123]:
len(A11_data_disabled_50_win)/len(A11_data_disabled_50)

0.39285714285714285

In [124]:
len(A11_data_disabled_50_down)/len(A11_data_disabled_50)

0.32142857142857145

In [125]:
8/len(A11_data_disabled_50)

0.2857142857142857

In [126]:
0.6333333333333333+0.23333333333333334+0.13333333333333333

1.0

##### 부양가족 수 구간화

In [127]:
child_bins = [0,1,2,3] # range 범위 지정
child_group_names = ['1인', '2인', '3인'] # 지정할 그룹명
child_categories = pd.cut(A11_data_disabled['A_35'], child_bins, labels=child_group_names) # range 변수

In [128]:
A11_data_disabled['child_div'] = pd.cut(A11_data_disabled['A_35'], child_bins, labels=child_group_names) # range column 추가

In [129]:
A11_data_disabled['child_div'].count()

17

In [130]:
A11_disabled_child1 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '1인']
A11_disabled_child2 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '2인']
A11_disabled_child3 = A11_data_disabled.ix[A11_data_disabled['child_div'] == '3인']

In [131]:
len(A11_disabled_child1) # 1인 12명

9

In [132]:
len(A11_disabled_child2) # 2인 2명

3

In [133]:
len(A11_disabled_child3) # 3인 1명

5

###### 1인 부양가족의 당첨/탈락 데이터 나누기

In [134]:
A11_disabled_child1_win = A11_disabled_child1.ix[A11_disabled_child1.W_4 == "당첨"]
A11_disabled_child1_down = A11_disabled_child1.ix[A11_disabled_child1.W_4 != '당첨']

In [135]:
len(A11_disabled_child1_win)

6

In [136]:
len(A11_disabled_child1_down)

3

In [137]:
A11_disabled_child1_win.W_14.unique()

array(['일(장)', '잔(장)', '우(장)'], dtype=object)

In [138]:
A11_disabled_child1_win = A11_disabled_child1_win.ix[A11_disabled_child1_win.W_14 != '잔(장)']

In [139]:
len(A11_disabled_child1_win)

4

In [140]:
len(A11_disabled_child1_win)/len(A11_disabled_child1)

0.4444444444444444

In [141]:
len(A11_disabled_child1_down)/len(A11_disabled_child1)

0.3333333333333333

In [142]:
2/len(A11_disabled_child1)

0.2222222222222222

In [143]:
0.6 + 0.26666666666666666+0.13333333333333333

1.0

###### 부양가족수 2인 당첨/탈락 데이터 나누기

In [144]:
A11_disabled_child2_win = A11_disabled_child2.ix[A11_disabled_child2.W_4 == "당첨"]
A11_disabled_child2_down = A11_disabled_child2.ix[A11_disabled_child2.W_4 != '당첨']

In [145]:
len(A11_disabled_child2_win)

2

In [146]:
len(A11_disabled_child2_down)

1

In [147]:
A11_disabled_child2_win.W_14.unique()

array(['잔(장)', '우(장)'], dtype=object)

In [148]:
A11_disabled_child2_win = A11_disabled_child2_win.ix[A11_disabled_child2_win.W_14 != '잔(장)']

In [149]:
len(A11_disabled_child2_win)

1

In [150]:
len(A11_disabled_child2_win) / len(A11_disabled_child2)

0.3333333333333333

In [151]:
len(A11_disabled_child2_down) / len(A11_disabled_child2)

0.3333333333333333

In [152]:
1 / len(A11_disabled_child2)

0.3333333333333333

In [154]:
0.3333333333333333 + 0.3333333333333333 + 0.3333333333333333

1.0

###### 부양가족수 3인 인 경우 당첨인원

In [155]:
A11_disabled_child3_win = A11_disabled_child3.ix[A11_disabled_child3.W_4 == "당첨"]
A11_disabled_child3_down = A11_disabled_child3.ix[A11_disabled_child3.W_4 != '당첨']

In [156]:
len(A11_disabled_child3_win)

2

In [157]:
len(A11_disabled_child3_down)

3

In [158]:
A11_disabled_child3_win.W_14.unique()

array(['잔(장)', '우(장)'], dtype=object)

In [159]:
A11_disabled_child3_win = A11_disabled_child3_win.ix[A11_disabled_child3_win.W_14 != '잔(장)']

In [160]:
len(A11_disabled_child3_win)

1

In [161]:
len(A11_disabled_child3_win) / len(A11_disabled_child3)

0.2

In [162]:
len(A11_disabled_child3_down) / len(A11_disabled_child3)

0.6

In [163]:
1 / len(A11_disabled_child3)

0.2

In [164]:
0.2 + 0.6 + 0.2

1.0

##### 거주기간 구간화

In [165]:
resi_bins = [0,3,5,100] # range 범위 지정
resi_group_names = ['1_3년', '3_5년', '5년이상'] # 지정할 그룹명
resi_categories = pd.cut(A11_data_disabled['A_22'],  resi_bins,False, labels=resi_group_names) # range 변수

In [166]:
A11_data_disabled['resi_categories'] = pd.cut(A11_data_disabled['A_22'], resi_bins, labels=resi_group_names) # range column 추가

In [167]:
A11_data_disabled[['A_22','resi_categories']]

    A_22 resi_categories
0      0             NaN
1      0             NaN
2      0             NaN
3      0             NaN
4      0             NaN
5      0             NaN
6      5            3_5년
7      0             NaN
8      0             NaN
9      0             NaN
10     0             NaN
11     0             NaN
12     3            1_3년
13     0             NaN
14    14            5년이상
15     0             NaN
16     8            5년이상
17     0             NaN
18     0             NaN
19     0             NaN
20    21            5년이상
21     0             NaN
22     0             NaN
23     2            1_3년
24     1            1_3년
25     0             NaN
26     0             NaN
27    10            5년이상
28     3            1_3년
29    53            5년이상
30     1            1_3년
31     0             NaN
32     0             NaN
33     0             NaN
34     0             NaN
35     2            1_3년
36     1            1_3년
37     0             NaN
38     0             NaN
39     0             NaN
40     0             NaN
41     1            1_3년
42     0             NaN
43     0             NaN
44     0             NaN
45     0             NaN
46     4            3_5년
47    15            5년이상
48     0             NaN
49    43            5년이상
50     0             NaN
51     0             NaN

##### 거주기간 별로 data 분리

In [168]:
A11_disabled_oneTothree = A11_data_disabled.ix[A11_data_disabled.resi_categories == "1_3년"]
A11_disabled_threeTofive = A11_data_disabled.ix[A11_data_disabled.resi_categories == "3_5년"]
A11_disabled_five = A11_data_disabled.ix[A11_data_disabled.resi_categories == "5년이상"]

In [169]:
len(A11_disabled_oneTothree)

8

In [170]:
len(A11_disabled_threeTofive)

2

In [171]:
len(A11_disabled_five)

7

###### 1~3년 이상 당첨/탈락 데이터 나누기

In [172]:
A11_disabled_oneTothree_win = A11_disabled_oneTothree.ix[A11_disabled_oneTothree.W_4 == '당첨']
A11_disabled_oneTothree_lose = A11_disabled_oneTothree.ix[A11_disabled_oneTothree.W_4 != '당첨']

In [173]:
len(A11_disabled_oneTothree_win) # 당첨자 8명

8

In [174]:
len(A11_disabled_oneTothree_lose) # 탈락자 0명

0

In [175]:
A11_disabled_oneTothree_win.W_14

12    우(장)
23    일(장)
24    잔(장)
28    잔(장)
30    일(장)
35    우(장)
36    일(장)
41    일(장)
Name: W_14, dtype: object

In [179]:
A11_disabled_oneTothree_win = A11_disabled_oneTothree_win.ix[A11_disabled_oneTothree_win.W_14 != '잔(장)']

In [180]:
len(A11_disabled_oneTothree_win)

6

In [181]:
len(A11_disabled_oneTothree_win)/len(A11_disabled_oneTothree)

0.75

In [182]:
len(A11_disabled_oneTothree_lose)/len(A11_disabled_oneTothree)

0.0

In [183]:
2/len(A11_disabled_oneTothree)

0.25

In [185]:
0.75+0.0+0.25

1.0

###### 3~5년 데이터 당첨/탈락 데이터 나누기

In [186]:
A11_disabled_threeTofive_win = A11_disabled_threeTofive.ix[A11_disabled_threeTofive.W_4 == '당첨']
A11_disabled_threeTofive_lose = A11_disabled_threeTofive.ix[A11_disabled_threeTofive.W_4 != '당첨']

In [187]:
len(A11_disabled_threeTofive_win)

2

In [188]:
len(A11_disabled_threeTofive_lose)

0

In [189]:
A11_disabled_threeTofive_win.W_14.unique()

array(['잔(장)'], dtype=object)

In [190]:
A11_disabled_threeTofive_win = A11_disabled_threeTofive_win.ix[A11_disabled_threeTofive_win.W_14 != '잔(장)']

In [191]:
len(A11_disabled_threeTofive_win)

0

In [192]:
len(A11_disabled_threeTofive_win)/len(A11_disabled_threeTofive)

0.0

In [193]:
2/len(A11_disabled_threeTofive)

1.0

In [194]:
0.8+0.2

1.0

###### 5년이상 데이터 당첨/탈락 데이터 나누기

In [195]:
A11_disabled_five_win = A11_disabled_five.ix[A11_disabled_five.W_4 == '당첨']
A11_disabled_five_lose = A11_disabled_five.ix[A11_disabled_five.W_4 != '당첨']

In [196]:
len(A11_disabled_five_win)

6

In [197]:
len(A11_disabled_five_lose)

1

In [198]:
A11_disabled_five_win.W_14.unique()

array(['우(장)', '잔(장)'], dtype=object)

In [199]:
A11_disabled_five_win = A11_disabled_five_win.ix[A11_disabled_five_win.W_14 != '잔(장)']

In [200]:
len(A11_disabled_five_win)

2

In [201]:
len(A11_disabled_five_win)/len(A11_disabled_five)

0.2857142857142857

In [202]:
len(A11_disabled_five_lose)/len(A11_disabled_five)

0.14285714285714285

In [203]:
4 / len(A11_disabled_five)

0.5714285714285714

In [204]:
0.3333333333333333+0.2222222222222222+0.4444444444444444

1.0

###### 미성년자녀 3명여부

In [293]:
A11_data_disabled_threeup = A11_data_disabled.ix[A11_data_disabled.W_35 == 'Y']
A11_data_disabled_threedown = A11_data_disabled.ix[A11_data_disabled.W_35 != 'Y']

In [295]:
len(A11_data_disabled_threeup)

4

In [296]:
A11_data_disabled_threeup_win = A11_data_disabled_threeup.ix[A11_data_disabled_threeup.W_4 == '당첨']
A11_data_disabled_threeup_lose = A11_data_disabled_threeup.ix[A11_data_disabled_threeup.W_4 != '당첨']

In [297]:
len(A11_data_disabled_threeup_win)

2

In [298]:
len(A11_data_disabled_threeup_lose)

2

In [299]:
A11_data_disabled_threeup_win.W_14

26    잔(장)
35    우(장)
Name: W_14, dtype: object

In [300]:
A11_data_disabled_threeup_win = A11_data_disabled_threeup_win.ix[A11_data_disabled_threeup_win.W_14 != '잔(장)']

In [301]:
len(A11_data_disabled_threeup_win)

1

In [302]:
len(A11_data_disabled_threeup_win) / len(A11_data_disabled_threeup)

0.25

In [303]:
len(A11_data_disabled_threeup_lose) / len(A11_data_disabled_threeup)

0.5

In [304]:
1 / len(A11_data_disabled_threeup)

0.25

In [305]:
0.25+0.5+0.25

1.0

In [306]:
len(A11_data_disabled_threedown)

48

In [307]:
A11_data_disabled_threedown_win = A11_data_disabled_threedown.ix[A11_data_disabled_threedown.W_4 == '당첨']
A11_data_disabled_threedown_lose = A11_data_disabled_threedown.ix[A11_data_disabled_threedown.W_4 != '당첨']

In [308]:
len(A11_data_disabled_threedown_win)

30

In [309]:
A11_data_disabled_threedown_win.W_14.unique()

array(['우(장)', '일(장)', '잔(장)'], dtype=object)

In [310]:
A11_data_disabled_threedown_win = A11_data_disabled_threedown_win.ix[A11_data_disabled_threedown_win.W_14 != '잔(장)']

In [311]:
len(A11_data_disabled_threedown_win)

21

In [312]:
len(A11_data_disabled_threedown_win) / len(A11_data_disabled_threedown)

0.4375

In [313]:
len(A11_data_disabled_threedown_lose) / len(A11_data_disabled_threedown)

0.375

In [314]:
9 / len(A11_data_disabled_threedown)

0.1875

In [315]:
0.4375+0.375+0.1875

1.0

###### 당첨자 중 건설근로자

In [316]:
A11_disabled_priority[['A_24', 'W_4', 'W_35']] # 장애인 중 당첨형태가 우선공급인 자에 대한 건설근로자여부 확인 : 없음

   A_24 W_4 W_35
1   장애인  당첨
12  장애인  당첨
13  장애인  당첨
14  장애인  당첨
18  장애인  당첨
22  장애인  당첨
33  장애인  당첨
34  장애인  당첨
35  장애인  당첨    Y
37  장애인  당첨
47  장애인  당첨
50  장애인  당첨

In [317]:
len(A11_disabled_priority[['A_24', 'W_4', 'W_35']])

12

In [318]:
1 / len(A11_disabled_priority[['A_24', 'W_4', 'W_35']])

0.08333333333333333

In [319]:
23 / len(A11_disabled_priority[['A_24', 'W_4', 'W_35']])

1.9166666666666667

In [210]:
0.041666666666666664 + 0.9583333333333334

1.0

###### 탈락자 중 건설근로자

In [213]:
A11_disabled_general_lose[['A_24', 'W_4', 'W_35']]

   A_24    W_4 W_35
0   장애인     예비
3   장애인  서류(제)
4   장애인  서류(제)
5   장애인     예비
8   장애인  서류(제)
10  장애인  서류(제)
15  장애인  서류(제)
17  장애인  서류(제)
19  장애인  서류(제)
25  장애인  서류(제)
31  장애인  서류(제)
38  장애인  서류(제)    Y
39  장애인     예비
40  장애인  서류(제)
42  장애인  서류(제)
44  장애인  서류(제)
45  장애인  서류(제)
48  장애인  서류(부)
49  장애인  서류(부)    Y
51  장애인     예비

In [214]:
len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

20

In [215]:
2 / len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

0.1

In [216]:
(len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']]) - 2) / len(A11_disabled_general_lose[['A_24', 'W_4', 'W_35']])

0.9

In [182]:
0.06060606060606061 + 0.9393939393939394

1.0

##### 청약 불입회수 분리

In [217]:
not_save_bins = [36,48,60,200] # range 범위 지정
not_save_group_names = ['36회이상', '48회이상', '60회이상'] # 지정할 그룹명
not_save_categories = pd.cut(A11_data_disabled['A_46'],  not_save_bins,False, labels=not_save_group_names) # range 변수

In [218]:
A11_data_disabled['not_save_categories'] = pd.cut(A11_data_disabled['A_46'], not_save_bins, labels=not_save_group_names) # range column 추가

In [219]:
A11_data_disabled[['A_46', 'not_save_categories']]

    A_46 not_save_categories
0      0                 NaN
1      0                 NaN
2      0                 NaN
3      0                 NaN
4      0                 NaN
5      0                 NaN
6      0                 NaN
7      0                 NaN
8      0                 NaN
9      0                 NaN
10     0                 NaN
11    67               60회이상
12     0                 NaN
13     0                 NaN
14     0                 NaN
15     0                 NaN
16     0                 NaN
17     0                 NaN
18     0                 NaN
19     0                 NaN
20     0                 NaN
21     0                 NaN
22     0                 NaN
23     0                 NaN
24     0                 NaN
25    15                 NaN
26     0                 NaN
27     0                 NaN
28     0                 NaN
29     0                 NaN
30     0                 NaN
31     0                 NaN
32    11                 NaN
33    45               36회이상
34     0                 NaN
35     0                 NaN
36     0                 NaN
37     0                 NaN
38     0                 NaN
39     0                 NaN
40     0                 NaN
41     0                 NaN
42     0                 NaN
43    24                 NaN
44     0                 NaN
45    31                 NaN
46     6                 NaN
47     0                 NaN
48     0                 NaN
49     0                 NaN
50    31                 NaN
51     0                 NaN

In [220]:
A11_disabled_36 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '36회이상']
A11_disabled_48 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '48회이상']
A11_disabled_60 = A11_data_disabled.ix[A11_data_disabled.not_save_categories == '60회이상']

In [221]:
len(A11_disabled_36) # 36회 이상

1

In [222]:
len(A11_disabled_48) # 48회 이상

0

In [223]:
len(A11_disabled_60) # 60회 이상

1

###### 36회 이상 데이터 당첨/탈락 나누기

In [224]:
A11_disabled_36_win = A11_disabled_36.ix[A11_disabled_36.W_4 == '당첨']
A11_disabled_36_lose = A11_disabled_36.ix[A11_disabled_36.W_4 != '당첨']

In [225]:
A11_disabled_36_win.W_14

33    우(장)
Name: W_14, dtype: object

In [226]:
A11_disabled_36_lose.W_14

Series([], Name: W_14, dtype: object)

In [227]:
len(A11_disabled_36_win) / len(A11_disabled_36)

1.0

In [228]:
len(A11_disabled_36_lose) / len(A11_disabled_36)

0.0

In [230]:
1.0+0.0

1.0

###### 48회 이상 당첨/탈락 데이터 나누기

In [231]:
A11_disabled_48.W_4

Series([], Name: W_4, dtype: object)

In [232]:
A11_disabled_48.W_14

Series([], Name: W_14, dtype: object)

###### 60회 이상 당첨/탈락 데이터 나누기

In [233]:
A11_disabled_60_win = A11_disabled_60.ix[A11_disabled_60.W_4 == '당첨']
A11_disabled_60_down = A11_disabled_60.ix[A11_disabled_60.W_4 != '당첨']

In [234]:
len(A11_disabled_60_win)

1

In [235]:
len(A11_disabled_60_down)

0

In [236]:
A11_disabled_60_win.W_4

11    당첨
Name: W_4, dtype: object

In [237]:
A11_disabled_60_win.W_14

11    잔(장)
Name: W_14, dtype: object

In [238]:
A11_disabled_60_win = A11_disabled_60_win.ix[A11_disabled_60_win.W_14 != '잔(장)' ]

In [239]:
len(A11_disabled_60_win)

0

In [240]:
len(A11_disabled_60_win) / len(A11_disabled_60)

0.0

In [241]:
len(A11_disabled_60_down) / len(A11_disabled_60)

0.0

In [242]:
1 / len(A11_disabled_60)

1.0

In [243]:
0.375+0.625

1.0

###### 계약사실 분리 데이터

In [244]:
def f(x) :
    if x['W_24'] == -5:
        return "1년이내"
    elif x['W_24'] == -3:
        return "3년이내"
    else:
        return "해당없음"

In [245]:
A11_data_disabled['minus_div'] = A11_data_disabled.apply(f, axis=1)

###### 계약사실 데이터 1년이내/3년이내 나누기

In [246]:
A11_data_disabled_one = A11_data_disabled.ix[A11_data_disabled.minus_div == "1년이내"]
A11_data_disabled_three = A11_data_disabled.ix[A11_data_disabled.minus_div == "3년이내"]

In [247]:
len(A11_data_disabled_one)

2

In [248]:
len(A11_data_disabled_three)

3

In [249]:
A11_data_disabled_one[['W_4', 'W_24']]

      W_4  W_24
30     당첨    -5
42  서류(제)    -5

In [250]:
A11_data_disabled_one.W_14

30    일(장)
42    N(장)
Name: W_14, dtype: object

In [251]:
A11_data_disabled_three[['W_4','W_14', 'W_24']]

   W_4  W_14  W_24
5   예비  N(장)    -3
18  당첨  우(장)    -3
41  당첨  일(장)    -3

###### 장애인 등급 별 데이터 나누기

In [252]:
A11_data_disabled_onegrade = A11_data_disabled.ix[A11_data_disabled.A_28 == '1급']
A11_data_disabled_twograde = A11_data_disabled.ix[A11_data_disabled.A_28 == '2급']
A11_data_disabled_threegrade = A11_data_disabled.ix[A11_data_disabled.A_28 == '3급']
A11_data_disabled_fourgrade = A11_data_disabled.ix[(A11_data_disabled.A_28 == '4급') | (A11_data_disabled.A_28 == '5급')]

In [253]:
len(A11_data_disabled_onegrade)

8

In [254]:
len(A11_data_disabled_twograde)

9

In [255]:
len(A11_data_disabled_threegrade)

15

In [256]:
len(A11_data_disabled_fourgrade)

13

In [257]:
## 1급
A11_data_disabled_onegrade_win = A11_data_disabled_onegrade.ix[A11_data_disabled_onegrade.W_4 == '당첨']
A11_data_disabled_onegrade_lose = A11_data_disabled_onegrade.ix[A11_data_disabled_onegrade.W_4 != '당첨']
## 2급
A11_data_disabled_twograde_win = A11_data_disabled_twograde.ix[A11_data_disabled_twograde.W_4 == '당첨']
A11_data_disabled_twograde_lose = A11_data_disabled_twograde.ix[A11_data_disabled_twograde.W_4 != '당첨']
## 3급
A11_data_disabled_threegrade_win = A11_data_disabled_threegrade.ix[A11_data_disabled_threegrade.W_4 == '당첨']
A11_data_disabled_threegrade_lose = A11_data_disabled_threegrade.ix[A11_data_disabled_threegrade.W_4 != '당첨']
## 4급
A11_data_disabled_fourgrade_win = A11_data_disabled_fourgrade.ix[A11_data_disabled_fourgrade.W_4 == '당첨']
A11_data_disabled_fourgrade_lose = A11_data_disabled_fourgrade.ix[A11_data_disabled_fourgrade.W_4 != '당첨']

In [258]:
len(A11_data_disabled_onegrade_win.W_14)

8

In [259]:
len(A11_data_disabled_onegrade_lose.W_14)

0

In [262]:
len(A11_data_disabled_onegrade_win.W_14) / len(A11_data_disabled_onegrade)

1.0

In [263]:
len(A11_data_disabled_onegrade_lose.W_14) / len(A11_data_disabled_onegrade)

0.0

In [265]:
1.0+0.0

1.0

In [266]:
len(A11_data_disabled_twograde_win.W_14)

5

In [267]:
len(A11_data_disabled_twograde_lose.W_14)

4

In [268]:
A11_data_disabled_twograde_win.W_14

1     우(장)
12    우(장)
32    일(장)
34    우(장)
47    우(장)
Name: W_14, dtype: object

In [269]:
len(A11_data_disabled_twograde_win.W_14) / len(A11_data_disabled_twograde)

0.5555555555555556

In [270]:
len(A11_data_disabled_twograde_lose.W_14) / len(A11_data_disabled_twograde)

0.4444444444444444

In [271]:
0.5555555555555556+0.4444444444444444

1.0

In [272]:
len(A11_data_disabled_threegrade_win)

11

In [273]:
len(A11_data_disabled_threegrade_lose)

4

In [274]:
A11_data_disabled_threegrade_win.W_14

6     잔(장)
9     일(장)
11    잔(장)
21    일(장)
24    잔(장)
26    잔(장)
27    잔(장)
29    잔(장)
30    일(장)
41    일(장)
43    일(장)
Name: W_14, dtype: object

In [275]:
A11_data_disabled_threegrade_win = A11_data_disabled_threegrade_win.ix[A11_data_disabled_threegrade_win.W_14 != '잔(장)']

In [276]:
len(A11_data_disabled_threegrade_win)

5

In [277]:
len(A11_data_disabled_threegrade_win) / len(A11_data_disabled_threegrade)

0.3333333333333333

In [278]:
len(A11_data_disabled_threegrade_lose) / len(A11_data_disabled_threegrade)

0.26666666666666666

In [280]:
6 / len(A11_data_disabled_threegrade)

0.4

In [281]:
0.3333333333333333+0.26666666666666666+0.4

1.0

In [282]:
A11_data_disabled_fourgrade_win.W_14

2     일(장)
7     일(장)
16    잔(장)
23    일(장)
28    잔(장)
46    잔(장)
Name: W_14, dtype: object

In [283]:
len(A11_data_disabled_fourgrade_win)

6

In [284]:
A11_data_disabled_fourgrade_win = A11_data_disabled_fourgrade_win.ix[A11_data_disabled_fourgrade_win.W_14 != '잔(장)']

In [285]:
len(A11_data_disabled_fourgrade_win)

3

In [286]:
len(A11_data_disabled_fourgrade_lose)

7

In [287]:
len(A11_data_disabled_fourgrade_win) / len(A11_data_disabled_fourgrade)

0.23076923076923078

In [291]:
len(A11_data_disabled_fourgrade_lose) / len(A11_data_disabled_fourgrade)

0.5384615384615384

In [290]:
3 / len(A11_data_disabled_fourgrade)

0.23076923076923078

In [292]:
0.23076923076923078+0.5384615384615384+0.23076923076923078

1.0