In [126]:
import sys
import pandas as pd
import numpy as np
sys.path.append("..") # 시스템 경로 변경(MySQLConnect 클래스 부르기 위함)

In [127]:
from MySQLConnect import MySQLConnect

In [128]:
# 접속정보
host = 'kmaster.czypjmusens3.ap-northeast-2.rds.amazonaws.com'
user = 'KMaster'
password = 'kookmin1234'
db = 'km_db'

In [129]:
dc = MySQLConnect(host, user, password, db)

del

In [130]:
type(dc.getRecord("*", "LEASE_DATA", "A_6 = '26형' and A_11 = '본인' and A_24 = '신혼부부' and W_14 != '잔(고)'" ))

tuple

###### A11-1 블록의 26형 신청자가 본인이면서 고령자 인 경우(우선공급&일반공급)

In [131]:
A11_data_highage = pd.DataFrame(list(dc.getRecord("*", "LEASE_DATA", "BLOCK_NM = 'A11-1' and A_6 = '26형' and A_11 = '본인' and A_24 = '신혼부부'" )))

In [133]:
len(A11_data_highage) # 68 row

68

###### 우(고) 와 그외 나머지 데이터로 나누기

In [134]:
A11_highage_priority = A11_data_highage.ix[A11_data_highage.W_14 == "우(고)"]
A11_highage_general = A11_data_highage.ix[A11_data_highage.W_14 != "우(고)"]

In [135]:
len(A11_highage_priority) # 우선공급 19 row

12

In [136]:
len(A11_highage_general) # 우선공급 외 120 row

56

###### 우선공급의 당첨여부 확인

In [137]:
A11_highage_priority.W_4.unique()

array(['당첨'], dtype=object)

###### 일반공급의 당첨여부 확인

In [138]:
A11_highage_general.W_4.unique()

array(['서류(제)', '당첨', '예비', '우선(부)', '서류(부)'], dtype=object)

###### 일반공급이면서 당첨인 경우의 건수 확인

In [139]:
len(A11_highage_general.ix[A11_highage_general.W_4=="당첨"]) # 57건

19

###### 일반공급 이면서 당첨/탈락 으로 분류

In [140]:
A11_highage_general_win = A11_highage_general.ix[A11_highage_general.W_4=="당첨"]
A11_highage_general_lose = A11_highage_general.ix[A11_highage_general.W_4!="당첨"]

In [141]:
len(A11_highage_general_win) # 당첨 : 57명

19

In [142]:
len(A11_highage_general_lose) # 탈락 : 63명

37

###### 일반 당첨 데이터 중에 '잔' 이 들어간 데이터 확인

In [143]:
A11_highage_general_win.W_14.unique()

array(['일(고)', '잔(고)'], dtype=object)

In [144]:
A11_highage_general_win = A11_highage_general_win.ix[A11_highage_general_win.W_14 != '잔(고)']

In [145]:
len(A11_highage_general_win) # 잔(고) 를 뺀 나머지 데이터

15

###### 경쟁률 계산(전체건수 / 당첨자 건수- 잔은 제외한)

In [147]:
len(A11_data_highage) /  (len(A11_highage_priority) + len(A11_highage_general_win))

2.5185185185185186

###### 커트라인 계산

In [148]:
A11_highage_priority.W_19.min()

6

###### 50% 이하 / 초과 데이터 나누기(A11_data_highage : 원본 데이터 에서 진행)

In [150]:
All_highage_50down = A11_data_highage.ix[A11_data_highage.A_32 == '50%이하']
All_highage_50up = A11_data_highage.ix[A11_data_highage.A_32 != '50%이하']

In [151]:
len(All_highage_50down) # 50% 이하 133 명

68

In [152]:
len(All_highage_50up) # 50% 초과 6명

0

###### 50% 이하 중 당첨/탈락 데이터 나누기

In [153]:
All_highage_50down_win = All_highage_50down.ix[All_highage_50down.W_4 == "당첨"]
All_highage_50down_down = All_highage_50down.ix[All_highage_50down.W_4 != "당첨"]

In [154]:
len(All_highage_50down_win) # 50%이하 중 당첨 76

31

In [155]:
len(All_highage_50down_down) # 50% 이하 중 탈락 57

37

###### 50% 이하 당첨자 중 '잔' 있는지 확인

In [156]:
All_highage_50down_win.W_14.unique()

array(['우(고)', '일(고)', '잔(고)'], dtype=object)

In [157]:
All_highage_50down_win = All_highage_50down_win.ix[All_highage_50down_win.W_14 != '잔(고)']

In [158]:
len(All_highage_50down_win)

27

In [159]:
len(All_highage_50down_win)/len(All_highage_50down)

0.39705882352941174

In [160]:
len(All_highage_50down_down)/len(All_highage_50down)

0.5441176470588235

In [161]:
4/len(All_highage_50down)

0.058823529411764705

In [162]:
0.03007518796992481 + 0.42857142857142855 + 0.5413533834586466

1.0

###### 50% 초과 중 당첨/탈락 데이터 만들기

In [163]:
All_highage_50up_win = All_highage_50up.ix[All_highage_50up.W_4 == '당첨']
All_highage_50up_down = All_highage_50up.ix[All_highage_50up.W_4 != '당첨']

In [164]:
len(All_highage_50up_win)

0

In [165]:
len(All_highage_50up_down)

0

###### 세대주 나이(모집일 당시) 별로 데이터 나누기(A11_data_highage : 원본 데이터 에서 진행)

In [166]:
A11_data_highage.ix[A11_data_highage.A_34 <= 50] # 50살 보다 작은사람 없음

Empty DataFrame
Columns: [A_10, A_11, A_12, A_13, A_14, A_15, A_16, A_17, A_18, A_19, A_20, A_21, A_22, A_23, A_24, A_25, A_26, A_27, A_28, A_29, A_30, A_31, A_32, A_33, A_34, A_35, A_36, A_37, A_38, A_39, A_4, A_40, A_41, A_42, A_43, A_44, A_45, A_46, A_47, A_48, A_49, A_5, A_50, A_51, A_52, A_53, A_54, A_55, A_56, A_57, A_58, A_59, A_6, A_7, A_8, A_9, BLOCK_NM, REGNUM_BLOCK, SEQ_, SEQ_NUM, W_1, W_10, W_11, W_12, W_13, W_14, W_15, W_16, W_17, W_18, W_19, W_2, W_20, W_21, W_22, W_23, W_24, W_25, W_26, W_27, W_28, W_29, W_3, W_30, W_31, W_32, W_33, W_34, W_35, W_36, W_37, W_38, W_39, W_4, W_40, W_41, W_42, W_5, W_6, W_7, ...]
Index: []

[0 rows x 102 columns]

##### 세대주 나이 구간화

In [180]:
bins = [50,99] # range 범위 지정
group_names = ['50대이상'] # 지정할 그룹명
categories = pd.cut(A11_data_highage['A_34'], bins, labels=group_names) # range 변수

In [181]:
A11_data_highage['categories'] = pd.cut(A11_data_highage['A_34'], bins, labels=group_names) # range column 추가

In [169]:
A11_data_highage.W_4 == "당첨"

0     False
1      True
2      True
3     False
4      True
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12     True
13    False
14     True
15     True
16     True
17    False
18    False
19    False
20     True
21     True
22    False
23    False
24    False
25     True
26    False
27     True
28     True
29    False
      ...
38    False
39     True
40    False
41    False
42    False
43    False
44     True
45     True
46    False
47    False
48     True
49    False
50     True
51     True
52     True
53     True
54    False
55    False
56    False
57    False
58    False
59     True
60    False
61    False
62    False
63    False
64     True
65    False
66    False
67    False
Name: W_4, dtype: bool

In [182]:
A11_data_highage.categories.unique()

[50대이상]
Categories (1, object): [50대이상]

###### 50대이상 데이터 중 당첨/탈락 데이터 나누기

In [183]:
A11_data_highage_win = A11_data_highage.ix[A11_data_highage.W_4 == '당첨']
A11_data_highage_down = A11_data_highage.ix[A11_data_highage.W_4 != '당첨']

In [184]:
len(A11_data_highage_win) # 잔(고) 빼기 전 31row

31

In [186]:
len(A11_data_highage_down) # 탈락 데이터 37row

37

###### 당첨자 데이터 중 잔 확인

In [187]:
A11_data_highage_win.W_14.unique()

array(['우(고)', '일(고)', '잔(고)'], dtype=object)

In [188]:
A11_data_highage_win = A11_data_highage_win.ix[A11_data_highage_win.W_14 != '잔(고)']

In [189]:
len(A11_data_highage_win) # 잔(고) 뺀 데이터 72row

27

In [190]:
len(A11_data_highage_win)/len(A11_data_highage)

0.39705882352941174

In [191]:
len(A11_data_highage_down)/len(A11_data_highage)

0.5441176470588235

In [192]:
4/len(A11_data_highage)

0.058823529411764705

In [193]:
0.39705882352941174+0.5441176470588235+0.058823529411764705

1.0

##### 부양가족 수 구간화

In [194]:
child_bins = [0,1,2,3] # range 범위 지정
child_group_names = ['1인', '2인', '3인'] # 지정할 그룹명
child_categories = pd.cut(A11_data_highage['A_35'], child_bins, labels=child_group_names) # range 변수

In [195]:
A11_data_highage['child_div'] = pd.cut(A11_data_highage['A_35'], child_bins, labels=child_group_names) # range column 추가

In [196]:
A11_data_highage['child_div'].count()

7

In [197]:
A11_highage_child1 = A11_data_highage.ix[A11_data_highage['child_div'] == '1인']
A11_highage_child2 = A11_data_highage.ix[A11_data_highage['child_div'] == '2인']
A11_highage_child3 = A11_data_highage.ix[A11_data_highage['child_div'] == '3인']

In [198]:
len(A11_highage_child1) # 1인 12명

6

In [199]:
len(A11_highage_child2) # 2인 2명

0

In [200]:
len(A11_highage_child3) # 3인 1명

1

###### 1인 부양가족의 당첨/탈락 데이터 나누기

In [210]:
A11_highage_child1_win = A11_highage_child1.ix[A11_highage_child1.W_4 == "당첨"]
A11_highage_child1_down = A11_highage_child1.ix[A11_highage_child1.W_4 != '당첨']

In [211]:
len(A11_highage_child1_win)

3

In [212]:
len(A11_highage_child1_down)

3

In [213]:
A11_highage_child1_win.W_14.unique()

array(['우(고)', '잔(고)'], dtype=object)

In [214]:
A11_highage_child1_win = A11_highage_child1_win.ix[A11_highage_child1_win.W_14 != '잔(고)']

In [215]:
len(A11_highage_child1_win)

2

In [216]:
len(A11_highage_child1_win)/len(A11_highage_child1)

0.3333333333333333

In [217]:
len(A11_highage_child1_down)/len(A11_highage_child1)

0.5

In [218]:
1/len(A11_highage_child1)

0.16666666666666666

In [219]:
0.3333333333333333 + 0.5+0.16666666666666666

0.9999999999999999

###### 부양가족수 2인 인 경우 당첨인원

In [220]:
A11_highage_child2.W_4

Series([], Name: W_4, dtype: object)

###### 부양가족수 3인 인 경우 당첨인원

In [221]:
A11_highage_child3.W_4

9    서류(제)
Name: W_4, dtype: object

##### 거주기간 구간화

In [222]:
resi_bins = [0,3,5,100] # range 범위 지정
resi_group_names = ['1_3년', '3_5년', '5년이상'] # 지정할 그룹명
resi_categories = pd.cut(A11_data_highage['A_22'],  resi_bins,False, labels=resi_group_names) # range 변수

In [223]:
A11_data_highage['resi_categories'] = pd.cut(A11_data_highage['A_22'], resi_bins, labels=resi_group_names) # range column 추가

In [224]:
A11_data_highage[['A_22','resi_categories']]

    A_22 resi_categories
0      0             NaN
1      3            1_3년
2     35            5년이상
3      0             NaN
4      4            3_5년
5      0             NaN
6      0             NaN
7      0             NaN
8      0             NaN
9      0             NaN
10     0             NaN
11     0             NaN
12     3            1_3년
13     0             NaN
14     4            3_5년
15     0             NaN
16     5            3_5년
17     0             NaN
18     0             NaN
19     0             NaN
20     3            1_3년
21    10            5년이상
22     0             NaN
23     0             NaN
24     0             NaN
25     1            1_3년
26     0             NaN
27    11            5년이상
28     2            1_3년
29     0             NaN
..   ...             ...
38     0             NaN
39     1            1_3년
40     0             NaN
41     0             NaN
42     0             NaN
43     0             NaN
44     0             NaN
45     3            1_3년
46     0             NaN
47     0             NaN
48     0             NaN
49     0             NaN
50     5            3_5년
51     0             NaN
52     2            1_3년
53     3            1_3년
54     0             NaN
55     0             NaN
56     0             NaN
57     0             NaN
58     0             NaN
59    11            5년이상
60     0             NaN
61     0             NaN
62     0             NaN
63     0             NaN
64     3            1_3년
65     0             NaN
66     0             NaN
67     0             NaN

[68 rows x 2 columns]

##### 거주기간 별로 data 분리

In [225]:
A11_highage_oneTothree = A11_data_highage.ix[A11_data_highage.resi_categories == "1_3년"]
A11_highage_threeTofive = A11_data_highage.ix[A11_data_highage.resi_categories == "3_5년"]
A11_highage_five = A11_data_highage.ix[A11_data_highage.resi_categories == "5년이상"]

In [226]:
len(A11_highage_oneTothree)

11

In [227]:
len(A11_highage_threeTofive)

4

In [228]:
len(A11_highage_five)

6

###### 1~3년 이상 당첨/탈락 데이터 나누기

In [229]:
A11_highage_oneTothree_win = A11_highage_oneTothree.ix[A11_highage_oneTothree.W_4 == '당첨']
A11_highage_oneTothree_lose = A11_highage_oneTothree.ix[A11_highage_oneTothree.W_4 != '당첨']

In [230]:
len(A11_highage_oneTothree_win) # 당첨자 11명

11

In [231]:
len(A11_highage_oneTothree_lose) # 탈락자 없음

0

In [232]:
A11_highage_oneTothree_win.W_14

1     우(고)
12    일(고)
20    우(고)
25    일(고)
28    일(고)
32    잔(고)
39    일(고)
45    잔(고)
52    일(고)
53    우(고)
64    잔(고)
Name: W_14, dtype: object

In [233]:
A11_highage_oneTothree_win = A11_highage_oneTothree_win.ix[A11_highage_oneTothree_win.W_14 != '잔(고)']

In [234]:
len(A11_highage_oneTothree_win)

8

In [235]:
len(A11_highage_oneTothree_win)/len(A11_highage_oneTothree)

0.7272727272727273

In [236]:
len(A11_highage_oneTothree_lose)/len(A11_highage_oneTothree)

0.0

In [237]:
3/len(A11_highage_oneTothree)

0.2727272727272727

In [238]:
0.7272727272727273+0.2727272727272727+0.0

1.0

###### 3~5년 데이터 당첨/탈락 데이터 나누기

In [239]:
A11_highage_threeTofive_win = A11_highage_threeTofive.ix[A11_highage_threeTofive.W_4 == '당첨']
A11_highage_threeTofive_lose = A11_highage_threeTofive.ix[A11_highage_threeTofive.W_4 != '당첨']

In [240]:
len(A11_highage_threeTofive_win)

4

In [241]:
len(A11_highage_threeTofive_lose)

0

In [242]:
A11_highage_threeTofive_win.W_14.unique()

array(['일(고)', '잔(고)', '우(고)'], dtype=object)

In [243]:
A11_highage_threeTofive_win = A11_highage_threeTofive_win.ix[A11_highage_threeTofive_win.W_14 != '잔(고)']

In [244]:
len(A11_highage_threeTofive_win)

3

In [245]:
len(A11_highage_threeTofive_win)/len(A11_highage_threeTofive)

0.75

In [246]:
1/len(A11_highage_threeTofive)

0.25

In [149]:
0.8+0.2

1.0

###### 5년이상 데이터 당첨/탈락 데이터 나누기

In [255]:
A11_highage_five_win = A11_highage_five.ix[A11_highage_five.W_4 == '당첨']
A11_highage_five_lose = A11_highage_five.ix[A11_highage_five.W_4 != '당첨']

In [256]:
len(A11_highage_five_win)

6

In [257]:
len(A11_highage_five_lose)

0

In [258]:
A11_highage_five_win.W_14.unique()

array(['우(고)'], dtype=object)

In [259]:
len(A11_highage_five_win)/len(A11_highage_five)

1.0

In [260]:
len(A11_highage_five_lose)/len(A11_highage_five)

0.0

In [261]:
1.0+0.0

1.0

###### 미성년자 3명이상 여부 데이터 나누기

In [300]:
A11_data_highage_threeup = A11_data_highage.ix[A11_data_highage.W_35 == 'Y']
A11_data_highage_threedown = A11_data_highage.ix[A11_data_highage.W_35 != 'Y']

In [301]:
A11_data_highage_threeup

Empty DataFrame
Columns: [A_10, A_11, A_12, A_13, A_14, A_15, A_16, A_17, A_18, A_19, A_20, A_21, A_22, A_23, A_24, A_25, A_26, A_27, A_28, A_29, A_30, A_31, A_32, A_33, A_34, A_35, A_36, A_37, A_38, A_39, A_4, A_40, A_41, A_42, A_43, A_44, A_45, A_46, A_47, A_48, A_49, A_5, A_50, A_51, A_52, A_53, A_54, A_55, A_56, A_57, A_58, A_59, A_6, A_7, A_8, A_9, BLOCK_NM, REGNUM_BLOCK, SEQ_, SEQ_NUM, W_1, W_10, W_11, W_12, W_13, W_14, W_15, W_16, W_17, W_18, W_19, W_2, W_20, W_21, W_22, W_23, W_24, W_25, W_26, W_27, W_28, W_29, W_3, W_30, W_31, W_32, W_33, W_34, W_35, W_36, W_37, W_38, W_39, W_4, W_40, W_41, W_42, W_5, W_6, W_7, ...]
Index: []

[0 rows x 107 columns]

In [302]:
A11_data_highage_threedown

,A_10,A_11,A_12,A_13,A_14,A_15,A_16,A_17,A_18,A_19,...,W_5,W_6,W_7,W_8,W_9,categories,child_div,resi_categories,not_save_categories,minus_div
0,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,282,99997,0,1510,,50대이상,NaN,NaN,NaN,해당없음
1,430920-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,36,45,0,1526,위수*,50대이상,1인,1_3년,NaN,해당없음
2,450116-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,43,45,0,1527,이태*,50대이상,NaN,5년이상,NaN,해당없음
3,400927-2******,본인,- 세대주와의 관계 -,,,,,,138**,서울 송파구 삼학사로,...,276,99997,0,2001,김윤*,50대이상,NaN,NaN,48회이상,1년이내
4,340506-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,56,58,0,2004,김정*,50대이상,NaN,3_5년,NaN,해당없음
5,420603-1******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남야주시 별내면,...,122,126,0,2006,김종*,50대이상,NaN,NaN,NaN,해당없음
6,270920-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,68,76,0,3014,한간*,50대이상,NaN,NaN,NaN,해당없음
7,460505-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,42,45,0,3018,심정*,50대이상,NaN,NaN,60회이상,해당없음
8,360825-1******,본인,- 세대주와의 관계 -,,,,,,134**,서울 강동구 천호대로,...,235,268,58,3040,서종*,50대이상,NaN,NaN,NaN,해당없음
9,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,270,99997,0,3080,,50대이상,3인,NaN,NaN,해당없음
10,391230-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,228,268,47,3514,조원*,50대이상,NaN,NaN,NaN,해당없음
11,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,272,99997,0,3515,,50대이상,NaN,NaN,NaN,해당없음
12,250929-1******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주 오남읍,...,97,88,0,3519,강병*,50대이상,NaN,1_3년,NaN,해당없음
13,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,263,99997,0,3525,,50대이상,NaN,NaN,NaN,해당없음
14,331211-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,89,88,0,3527,양승*,50대이상,NaN,3_5년,NaN,해당없음
15,330501-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 화도읍,...,125,126,0,4024,노옥*,50대이상,NaN,NaN,NaN,해당없음
16,400325-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,41,45,0,4033,김명*,50대이상,NaN,3_5년,NaN,해당없음
17,431023-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,222,268,35,4508,이규*,50대이상,NaN,NaN,NaN,해당없음
18,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,266,99997,0,4521,,50대이상,NaN,NaN,NaN,해당없음
19,390822-2******,본인,- 세대주와의 관계 -,,,,,,487**,경기도 포천시 태봉로,...,224,268,40,4534,김기*,50대이상,NaN,NaN,NaN,해당없음
20,450116-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,16,17,0,4541,이숙*,50대이상,NaN,1_3년,48회이상,해당없음
21,340122-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,40,45,0,5014,전영*,50대이상,NaN,5년이상,NaN,해당없음
22,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,283,99997,0,5519,,50대이상,NaN,NaN,NaN,해당없음
23,331027-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,225,268,41,5520,박한*,50대이상,NaN,NaN,NaN,해당없음
24,420325-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,262,99997,0,6018,권택*,50대이상,NaN,NaN,NaN,해당없음
25,440417-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기도 남양주시 해밀예당3로,...,107,111,0,6019,윤명*,50대이상,NaN,1_3년,NaN,3년이내
26,410725-1******,본인,- 세대주와의 관계 -,,,,,,120**,서울 성북구 돌곶이로8아길,...,258,99997,0,6035,이용*,50대이상,1인,NaN,NaN,해당없음
27,390511-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,34,45,0,6041,박탐*,50대이상,NaN,5년이상,NaN,해당없음
28,340602-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,109,111,0,7005,오정*,50대이상,NaN,1_3년,NaN,해당없음
29,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,280,99997,0,7029,,50대이상,NaN,NaN,NaN,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,310920-2******,본인,- 세대주와의 관계 -,,,,,,138**,서울 송파구 잠실동,...,279,99997,0,12035,양복*,50대이상,NaN,NaN,60회이상,해당없음
39,460422-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,116,111,0,12045,소복*,50대이상,NaN,1_3년,NaN,3년이내
40,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,265,99997,0,12050,,50대이상,NaN,NaN,60회이상,해당없음
41,291228-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,229,268,49,12053,김분*,50대이상,NaN,NaN,NaN,해당없음
42,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,256,99997,0,12506,,50대이상,NaN,NaN,60회이상,해당없음
43,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,269,99997,0,12511,,50대이상,NaN,NaN,NaN,해당없음
44,421110-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기도 남양주시 별내5로,...,187,193,0,12524,김진*,50대이상,NaN,NaN,NaN,해당없음
45,411229-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,53,58,0,12535,황정*,50대이상,NaN,1_3년,NaN,해당없음
46,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,167,99997,0,50002,,50대이상,NaN,NaN,NaN,해당없음
47,440912-1******,본인,- 세대주와의 관계 -,,,,,,124**,경기도 가평군 가평읍,...,41,239,12,50030,이영*,50대이상,1인,NaN,NaN,해당없음
48,340405-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,30,193,0,50076,강신*,50대이상,NaN,NaN,NaN,해당없음
49,390115-1******,본인,- 세대주와의 관계 -,,,,,,120**,경기도 남양주시 덕송3로,...,148,99997,0,50099,맹창*,50대이상,NaN,NaN,NaN,해당없음
50,450825-1******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,38,45,0,50178,박영*,50대이상,NaN,3_5년,NaN,해당없음
51,331030-2******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 와부읍,...,121,126,0,50197,문제*,50대이상,NaN,NaN,NaN,해당없음
52,420620-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,102,111,0,50245,정철*,50대이상,NaN,1_3년,NaN,해당없음
53,430514-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,33,45,0,50268,김정*,50대이상,NaN,1_3년,36회이상,해당없음
54,391225-2******,본인,- 세대주와의 관계 -,,,,,,413**,경기도 파주시 미래로,...,150,99997,0,50283,박정*,50대이상,NaN,NaN,NaN,1년이내
55,390420-2******,본인,- 세대주와의 관계 -,,,,,,036**,서울특별시 서대문구 증가로,...,139,99997,0,50370,강영*,50대이상,1인,NaN,NaN,해당없음
56,331011-2******,본인,- 세대주와의 관계 -,,,,,,151**,서울 관악구 봉천동,...,120,99997,0,50390,유규*,50대이상,NaN,NaN,NaN,해당없음
57,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,165,99997,0,50414,,50대이상,NaN,NaN,NaN,해당없음
58,360707-2******,본인,- 세대주와의 관계 -,,,,,,016**,서울특별시 노원구 덕릉로112길,...,51,268,31,50434,황금*,50대이상,NaN,NaN,NaN,해당없음
59,340105-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,14,16,0,50498,임창*,50대이상,NaN,5년이상,60회이상,해당없음
60,401211-2******,본인,- 세대주와의 관계 -,,,,,,121**,경기도 남양주시 별내5로,...,40,239,9,50506,강정*,50대이상,NaN,NaN,36회이상,해당없음
61,310920-2******,본인,- 세대주와의 관계 -,,,,,,138**,서울 송파구 잠실동,...,137,99997,0,50527,양복*,50대이상,NaN,NaN,60회이상,해당없음
62,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,90,99996,0,50547,,50대이상,NaN,NaN,NaN,해당없음
63,410305-2******,본인,- 세대주와의 관계 -,,,,,,133**,서울 성동구 매봉11길,...,108,99997,0,50628,김진*,50대이상,NaN,NaN,36회이상,해당없음
64,430103-1******,본인,- 세대주와의 관계 -,,,,,,472**,경기 남양주시 화도읍,...,83,88,0,50679,김광*,50대이상,NaN,1_3년,NaN,해당없음
65,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,101,99997,0,50821,,50대이상,NaN,NaN,NaN,해당없음
66,350423-2******,본인,- 세대주와의 관계 -,,,,,,183**,경기도 화성시 동화새터길,...,98,99997,0,50870,장수*,50대이상,NaN,NaN,NaN,해당없음
67,000000-0******,본인,- 세대주와의 관계 -,,,,,,,,...,216,99998,0,51009,,50대이상,NaN,NaN,NaN,해당없음

In [303]:
A11_data_highage_threedown_win = A11_data_highage_threedown.ix[A11_data_highage_threedown.W_4 == '당첨']
A11_data_highage_threedown_lose = A11_data_highage_threedown.ix[A11_data_highage_threedown.W_4 != '당첨']

In [304]:
len(A11_data_highage_threedown_win)

31

In [305]:
len(A11_data_highage_threedown_lose)

37

In [306]:
A11_data_highage_threedown_win.W_14.unique()

array(['우(고)', '일(고)', '잔(고)'], dtype=object)

In [307]:
A11_data_highage_threedown_win = A11_data_highage_threedown_win.ix[A11_data_highage_threedown_win.W_14 != '잔(고)']

In [308]:
len(A11_data_highage_threedown_win)

27

In [309]:
len(A11_data_highage_threedown_win) / len(A11_data_highage_threedown)

0.39705882352941174

In [310]:
len(A11_data_highage_threedown_lose) / len(A11_data_highage_threedown)

0.5441176470588235

In [311]:
4 / len(A11_data_highage_threedown)

0.058823529411764705

In [312]:
0.39705882352941174+0.5441176470588235+0.058823529411764705

1.0

##### 고령자 중 당첨형태가 우선공급인 자에 대한 건설근로자여부(위에서 우(고) 만 나눈 A11_highage_priority 활용)

In [9]:
A11_highage_priority[['A_24', 'W_4', 'W_35']] # 고령자 중 당첨형태가 우선공급인 자에 대한 건설근로자여부 확인 : 없음

          A_24 W_4 W_35
1    만65세이상고령자  당첨
2    만65세이상고령자  당첨
7    만65세이상고령자  당첨
16   만65세이상고령자  당첨
20   만65세이상고령자  당첨
21   만65세이상고령자  당첨
27   만65세이상고령자  당첨
30   만65세이상고령자  당첨
37   만65세이상고령자  당첨
50   만65세이상고령자  당첨
53   만65세이상고령자  당첨
59   만65세이상고령자  당첨
72   만65세이상고령자  당첨
87   만65세이상고령자  당첨
95   만65세이상고령자  당첨
107  만65세이상고령자  당첨
122  만65세이상고령자  당첨
129  만65세이상고령자  당첨
135  만65세이상고령자  당첨

In [262]:
len(A11_highage_priority)

12

In [268]:
A11_highage_general_lose[['A_24', 'W_4', 'W_35']]

         A_24    W_4 W_35
0   만65세이상고령자  서류(제)
3   만65세이상고령자  서류(제)
8   만65세이상고령자     예비
9   만65세이상고령자  서류(제)
10  만65세이상고령자     예비
11  만65세이상고령자  서류(제)
13  만65세이상고령자  서류(제)
17  만65세이상고령자     예비
18  만65세이상고령자  서류(제)
19  만65세이상고령자     예비
22  만65세이상고령자  서류(제)
23  만65세이상고령자     예비
24  만65세이상고령자  서류(제)
26  만65세이상고령자  서류(제)
29  만65세이상고령자  서류(제)
31  만65세이상고령자  서류(제)
33  만65세이상고령자  서류(제)
38  만65세이상고령자  서류(제)
40  만65세이상고령자  서류(제)
41  만65세이상고령자     예비
42  만65세이상고령자  서류(제)
43  만65세이상고령자  서류(제)
46  만65세이상고령자  서류(제)
47  만65세이상고령자     예비
49  만65세이상고령자  서류(제)
54  만65세이상고령자  서류(제)
55  만65세이상고령자  서류(제)
56  만65세이상고령자  서류(제)
57  만65세이상고령자  서류(제)
58  만65세이상고령자     예비
60  만65세이상고령자     예비
61  만65세이상고령자  서류(제)
62  만65세이상고령자  우선(부)
63  만65세이상고령자  서류(제)
65  만65세이상고령자  서류(제)
66  만65세이상고령자  서류(제)
67  만65세이상고령자  서류(부)

In [269]:
A11_highage_general_lose.W_4.unique()

array(['서류(제)', '예비', '우선(부)', '서류(부)'], dtype=object)

In [266]:
len(A11_highage_general_lose[['A_24', 'W_4', 'W_35']])

37

In [270]:
A11_highage_general_lose.W_35.unique()

array([' '], dtype=object)

##### 청약 불입회수 분리

In [271]:
not_save_bins = [36,48,60,200] # range 범위 지정
not_save_group_names = ['36회이상', '48회이상', '60회이상'] # 지정할 그룹명
not_save_categories = pd.cut(A11_data_highage['A_46'],  not_save_bins,False, labels=not_save_group_names) # range 변수

In [272]:
A11_data_highage['not_save_categories'] = pd.cut(A11_data_highage['A_46'], not_save_bins, labels=not_save_group_names) # range column 추가

In [273]:
A11_data_highage[['A_46', 'not_save_categories']]

    A_46 not_save_categories
0      0                 NaN
1      0                 NaN
2      0                 NaN
3     60               48회이상
4      0                 NaN
5      0                 NaN
6      0                 NaN
7    131               60회이상
8      0                 NaN
9      0                 NaN
10     0                 NaN
11     0                 NaN
12     0                 NaN
13     0                 NaN
14     0                 NaN
15     0                 NaN
16     0                 NaN
17     0                 NaN
18     0                 NaN
19     0                 NaN
20    52               48회이상
21     0                 NaN
22     0                 NaN
23     0                 NaN
24     0                 NaN
25     0                 NaN
26     0                 NaN
27     0                 NaN
28    32                 NaN
29     0                 NaN
..   ...                 ...
38   116               60회이상
39     0                 NaN
40   129               60회이상
41     0                 NaN
42   162               60회이상
43     0                 NaN
44     0                 NaN
45     0                 NaN
46     0                 NaN
47     0                 NaN
48     9                 NaN
49    20                 NaN
50     8                 NaN
51    11                 NaN
52    14                 NaN
53    37               36회이상
54     0                 NaN
55     0                 NaN
56     0                 NaN
57     0                 NaN
58     0                 NaN
59   110               60회이상
60    42               36회이상
61   116               60회이상
62     0                 NaN
63    47               36회이상
64     0                 NaN
65     0                 NaN
66     0                 NaN
67     0                 NaN

[68 rows x 2 columns]

In [274]:
A11_highage_36 = A11_data_highage.ix[A11_data_highage.not_save_categories == '36회이상']
A11_highage_48 = A11_data_highage.ix[A11_data_highage.not_save_categories == '48회이상']
A11_highage_60 = A11_data_highage.ix[A11_data_highage.not_save_categories == '60회이상']

In [275]:
len(A11_highage_36) # 36회 이상

3

In [276]:
len(A11_highage_48) # 48회 이상

2

In [277]:
len(A11_highage_60) # 60회 이상

6

###### 36회 이상 데이터 당첨/탈락 나누기

In [278]:
A11_highage_36_win = A11_highage_36.ix[A11_highage_36.W_4 == '당첨']
A11_highage_36_lose = A11_highage_36.ix[A11_highage_36.W_4 != '당첨']

In [279]:
A11_highage_36_win.W_14

53    우(고)
Name: W_14, dtype: object

In [280]:
A11_highage_36_lose.W_14

60    N(고)
63    N(고)
Name: W_14, dtype: object

In [281]:
len(A11_highage_36_win) / len(A11_highage_36)

0.3333333333333333

In [282]:
len(A11_highage_36_lose) / len(A11_highage_36)

0.6666666666666666

In [178]:
0.7142857142857143+0.2857142857142857

1.0

###### 48회 이상 당첨/탈락 데이터 나누기

In [283]:
A11_highage_48.W_4

3     서류(제)
20       당첨
Name: W_4, dtype: object

In [284]:
A11_highage_48.W_14

3     N(고)
20    우(고)
Name: W_14, dtype: object

###### 60회 이상 당첨/탈락 데이터 나누기

In [285]:
A11_highage_60_win = A11_highage_60.ix[A11_highage_60.W_4 == '당첨']
A11_highage_60_down = A11_highage_60.ix[A11_highage_60.W_4 != '당첨']

In [286]:
len(A11_highage_60_win)

2

In [287]:
len(A11_highage_60_down)

4

In [288]:
A11_highage_60_win.W_4

7     당첨
59    당첨
Name: W_4, dtype: object

In [289]:
A11_highage_60_win.W_14

7     우(고)
59    우(고)
Name: W_14, dtype: object

In [290]:
len(A11_highage_60_win) / len(A11_highage_60)

0.3333333333333333

In [291]:
len(A11_highage_60_down) / len(A11_highage_60)

0.6666666666666666

In [292]:
0.3333333333333333+0.6666666666666666

1.0

###### 계약사실 분리 데이터

In [293]:
def f(x) :
    if x['W_24'] == -5:
        return "1년이내"
    elif x['W_24'] == -3:
        return "3년이내"
    else:
        return "해당없음"

In [294]:
A11_data_highage['minus_div'] = A11_data_highage.apply(f, axis=1)

###### 계약사실 데이터 1년이내/3년이내 나누기

In [295]:
A11_data_highage_one = A11_data_highage.ix[A11_data_highage.minus_div == "1년이내"]
A11_data_highage_three = A11_data_highage.ix[A11_data_highage.minus_div == "3년이내"]

In [296]:
len(A11_data_highage_one)

2

In [297]:
len(A11_data_highage_three)

2

In [298]:
A11_data_highage_one[['W_4', 'W_24']]

      W_4  W_24
3   서류(제)    -5
54  서류(제)    -5

In [299]:
A11_data_highage_three[['W_4','W_14', 'W_24']]

   W_4  W_14  W_24
25  당첨  일(고)    -3
39  당첨  일(고)    -3