In [3191]:
import sys
import pandas as pd
import numpy as np
sys.path.append("..") # 시스템 경로 변경(MySQLConnect 클래스 부르기 위함)

In [3192]:
from MySQLConnect import MySQLConnect

In [3193]:
# 접속정보
host = 'kmaster.czypjmusens3.ap-northeast-2.rds.amazonaws.com'
user = 'KMaster'
password = 'kookmin1234'
db = 'km_db'

In [3194]:
dc = MySQLConnect(host, user, password, db)

del

In [3195]:
# 조회조건 들어갈 변수
block_nm = 'A17';A_6 = '59형'; A_11 = '본인';A_24 = '신혼부부';

In [3196]:
# 데이터 담을 dataframe
full_data = pd.DataFrame(index = range(1))

In [3197]:
A11_data = pd.DataFrame(list(dc.getRecord("*", "LEASE_DATA", "BLOCK_NM = '"+block_nm+"' and A_6 = '"+A_6+"' and A_11 = '"+A_11+"' and A_24 = '"+A_24+"' and W_14 not like '잔%' ")))

In [3198]:
len(A11_data) # 전체인원수(잔 제거)

109

In [3199]:
full_data['신청인원'] = len(A11_data)

###### 우(고) 와 그외 나머지 데이터로 나누기

In [3200]:
A11_priority = A11_data.ix[A11_data.W_14 == "우(신)"] # 우선공급
A11_general = A11_data.ix[(A11_data.W_14 != "우(신)")  & (A11_data.W_14 != '')] # 일반공급

In [3201]:
len(A11_general)

84

###### 커트라인 계산(우선공급 : W_20 / 일반공급 : W_21 
###### 우선순위 ###########################################################################################################
###### 장애인 : 1) 소득70%적용(W_16 == 'Y') -> 최저등급(W_15 == 6급)에 해당되는 최저점수  2) 소득70%적용(W_16 != 'Y') -> 최저등급(W_15 == 5등급)에 해당되는 최저점수
###### 고령자 , 3자녀: 1) 소득70%적용(W_16 == 'Y') -> 최저점  2) 소득70%적용(W_16 != 'Y')-> 최저점
###### 신혼부부 : 1) 소득70%적용(W_16 == 'Y') ->  신혼부부순위(W_39) 2순위  -> 신혼부부지역구분(W_40) '타' 부터  -> 자녀수(W_41) 작은 것 부터 1 ~ 3
######                  2) 소득70%적용(W_16 != 'Y') -> 신혼부부순위(W_39) 2순위 -> 신혼부부지역구분(W_40) '타' 부터 -> 자녀수(W_41) 작은 것 부터 1 ~ 3
###### 우선순위 ###########################################################################################################

In [3202]:
cut_score = 0
if A_24 == '만65세이상고령자':
#     full_data[column_70+'커트라인점수'] = A11_data.apply(highage_f, axis=1)
    cut_score = A11_priority.groupby(['W_14', 'W_16'])['W_20'].min()
elif A_24 == '장애인':
#     full_data[column_70+'커트라인점수'] = A11_data.apply(disabled_f, axis=1)
    cut_score = A11_priority.groupby(['W_14', 'W_16','W_15'])['W_20'].min()
elif A_24 == '3자녀가구':
#     full_data[column_70+'커트라인점수'] = A11_data.apply(three_f, axis=1)
    cut_score = A11_priority.groupby(['W_14', 'W_16'])['W_20'].min()
elif A_24 == '신혼부부':
#     full_data[column_70+'커트라인점수'] = A11_data.apply(married_f, axis=1)
    cut_score = A11_priority.groupby(['W_14', 'W_16' , 'W_39', 'W_40', 'W_41'])['W_20'].min()

In [3203]:
cut_score

W_14  W_16  W_39  W_40  W_41
우(신)        1순위   타     1       7
                        2       7
      Y     1순위   당해    1       3
                        2       6
                  타     2       5
Name: W_20, dtype: int64

In [3262]:
full_data['커트라인점수'] = str(5)+'(70%/1순위/타/자녀2)'

In [3263]:
full_data

,신청인원,커트라인점수,50%이하_당첨,50%이하_탈락,50%초과_당첨,50%초과_탈락,세대주_50세이상_당첨,세대주_50세이상_탈락,세대주_40세이상_당첨,세대주_40세이상_탈락,...,당해거주_당첨,당해거주_탈락,당해미거주_당첨,당해미거주_탈락,자녀수_3_당첨,자녀수_3_탈락,자녀수_2_당첨,자녀수_2_탈락,자녀수_1_당첨,자녀수_1_탈락
0,109,5(70%/1순위/타/자녀2),23,76,2,8,0,0,1,3,...,14,16,11,68,0,0,13,27,12,57

###### 50%이하/초과 나누기(우선/일반)

In [3206]:
## 우선 50%이하/초과(당첨)
All_priority_50down_win = A11_priority.ix[A11_priority.A_32 == '50%이하']
All_priority_50up_win = A11_priority.ix[A11_priority.A_32 != '50%이하']
## 일반 50%이하/초과(탈락)
A11_general_50down_lose = A11_general.ix[A11_general.A_32 == '50%이하']
A11_general_50up_lose = A11_general.ix[A11_general.A_32 != '50%이하']

In [3207]:
full_data['50%이하_당첨'] = len(All_priority_50down_win)

In [3208]:
full_data['50%이하_탈락'] = len(A11_general_50down_lose)

In [3209]:
full_data['50%초과_당첨'] = len(All_priority_50up_win)

In [3210]:
full_data['50%초과_탈락'] = len(A11_general_50up_lose)

##### 세대주 나이 구간화

In [3211]:
bins = [29,39,49,99] # range 범위 지정
group_names = ['30대이상', '40대이상', '50대이상'] # 지정할 그룹명
categories_win = pd.cut(A11_priority['A_34'], bins, labels=group_names) # range 변수
categories_lose = pd.cut(A11_general['A_34'], bins, labels=group_names) # range 변수

In [3212]:
A11_priority['categories_win'] = categories_win # 우선공급 일 경우 나이 구간
A11_general['categories_lose'] = categories_lose # 일반공급 일 경우 나이 구간

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [3213]:
A11_priority['categories_win'].unique()

[30대이상, NaN, 40대이상]
Categories (2, object): [30대이상 < 40대이상]

In [3214]:
A11_general.categories_lose.unique()

[30대이상, NaN, 40대이상]
Categories (2, object): [30대이상 < 40대이상]

In [3215]:
## 우선일 경우 30대,40대,50대(당첨)
A11_priority_data_30 = A11_priority.ix[A11_priority.categories_win == '30대이상']
A11_priority_data_40 = A11_priority.ix[A11_priority.categories_win == '40대이상']
A11_priority_data_50 = A11_priority.ix[A11_priority.categories_win == '50대이상']
## 일반일 경우 30대,40대,50대(탈락)
A11_general_data_30 = A11_general.ix[A11_general.categories_lose == '30대이상']
A11_general_data_40 = A11_general.ix[A11_general.categories_lose == '40대이상']
A11_general_data_50 = A11_general.ix[A11_general.categories_lose == '50대이상']

In [3216]:
full_data['세대주_50세이상_당첨'] = len(A11_priority_data_50) # 우선 50이상

In [3217]:
full_data['세대주_50세이상_탈락'] = len(A11_general_data_50) # 일반 50이상

In [3218]:
full_data['세대주_40세이상_당첨'] = len(A11_priority_data_40) # 우선 40이상

In [3219]:
full_data['세대주_40세이상_탈락'] = len(A11_general_data_40) # 일반 40이상

In [3220]:
full_data['세대주_30세이상_당첨'] = len(A11_priority_data_30) # 우선 30이상

In [3221]:
full_data['세대주_30세이상_탈락'] = len(A11_general_data_30) # 일반 30이상

##### 부양가족 수 구간화

In [3222]:
child_bins = [0,1,2,10] # range 범위 지정
child_group_names = ['1인', '2인', '3인'] # 지정할 그룹명
child_categories_win = pd.cut(A11_priority['A_35'], child_bins, labels=child_group_names) # 우선 나이분류
child_categories_lose = pd.cut(A11_general['A_35'], child_bins, labels=child_group_names) # 일반 나이분류

In [3223]:
A11_priority['child_categories_win'] = child_categories_win # range column 추가
A11_general['child_categories_lose'] = child_categories_lose # range column 추가

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [3224]:
## 우선공급 부양가족 분류(당첨)
A11_priority_child1 = A11_priority.ix[A11_priority['child_categories_win'] == '1인']
A11_priority_child2 = A11_priority.ix[A11_priority['child_categories_win'] == '2인']
A11_priority_child3 = A11_priority.ix[A11_priority['child_categories_win'] == '3인']
## 일반공급 부양가족 분류(탈락)
A11_general_child1 = A11_general.ix[A11_general['child_categories_lose'] == '1인']
A11_general_child2 = A11_general.ix[A11_general['child_categories_lose'] == '2인']
A11_general_child3 = A11_general.ix[A11_general['child_categories_lose'] == '3인']

###### 1인 부양가족의 당첨/탈락 데이터 나누기

In [3225]:
full_data['부양가족_3인_당첨'] = len(A11_priority_child3) # 우선 3인
full_data['부양가족_3인_탈락'] = len(A11_general_child3) # 일반 3인
full_data['부양가족_2인_당첨'] = len(A11_priority_child2) # 우선 2인
full_data['부양가족_2인_탈락'] = len(A11_general_child2) # 일반 3인
full_data['부양가족_1인_당첨'] = len(A11_priority_child1) # 우선 1인
full_data['부양가족_1인_탈락'] = len(A11_general_child1) # 일반 1인

In [3226]:
len(A11_general_child3)

32

In [3227]:
full_data.부양가족_1인_탈락

0    0
Name: 부양가족_1인_탈락, dtype: int64

##### 거주기간 구간화

In [3228]:
resi_bins = [1,3,5,100] # range 범위 지정
resi_group_names = ['1_3년', '3_5년', '5년이상'] # 지정할 그룹명
resi_categories_win = pd.cut(A11_priority['A_22'],  resi_bins,False, labels=resi_group_names) # 우선 거주기간 구분
resi_categories_lose = pd.cut(A11_general['A_22'],  resi_bins,False, labels=resi_group_names) # 일반 거주기간 구분

In [3229]:
A11_priority['resi_categories_win'] = resi_categories_win # 우선 구분
A11_general['resi_categories_lose'] = resi_categories_lose # 일반 구분

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [3230]:
## 우선 분류
A11_priority_oneTothree = A11_priority.ix[A11_priority.resi_categories_win == "1_3년"]
A11_priority_threeTofive = A11_priority.ix[A11_priority.resi_categories_win == "3_5년"]
A11_priority_five = A11_priority.ix[A11_priority.resi_categories_win == "5년이상"]
## 일반 분류
A11_general_oneTothree = A11_general.ix[A11_general.resi_categories_lose == "1_3년"]
A11_general_threeTofive = A11_general.ix[A11_general.resi_categories_lose == "3_5년"]
A11_general_five = A11_general.ix[A11_general.resi_categories_lose == "5년이상"]

In [3231]:
full_data['거주기간_5년_당첨'] = len(A11_priority_five) # 우선 5년
full_data['거주기간_5년_탈락'] = len(A11_general_five) # 일반 5년
full_data['거주기간_3_5년_당첨'] = len(A11_priority_threeTofive) # 우선 3_5년
full_data['거주기간_3_5년_탈락'] = len(A11_general_threeTofive) # 일반 3_5년
full_data['거주기간_1_3년_당첨'] = len(A11_priority_oneTothree) # 우선 1_3년
full_data['거주기간_1_3년_탈락'] = len(A11_general_oneTothree) # 일반 1_3년

In [3232]:
full_data.거주기간_5년_당첨

0    1
Name: 거주기간_5년_당첨, dtype: int64

###### 미성년자 3명이상 여부 데이터 나누기

In [3233]:
## 우선 미성년 분류(당첨)
A11_priority_threeup = A11_priority.ix[A11_priority.W_17 >= 3]
A11_priority_threedown = A11_priority.ix[A11_priority.W_17 < 3 ]
## 일반 미성년 분류(탈락)
A11_general_threeup = A11_general.ix[A11_general.W_17 >= 3]
A11_general_threedown = A11_general.ix[A11_general.W_17 < 3 ]

In [3234]:
full_data['미성년_3명이상_당첨'] = len(A11_priority_threeup)

In [3235]:
full_data['미성년_3명이상_탈락'] = len(A11_general_threeup)

In [3236]:
full_data['미성년_3명미만_당첨'] = len(A11_priority_threedown)

In [3237]:
full_data['미성년_3명미만_탈락'] = len(A11_general_threedown)


##### 고령자 중 당첨형태가 우선공급인 자에 대한 건설근로자여부(위에서 우(고) 만 나눈 A11_priority 활용)

In [3238]:
## 우선공급 중 건설근로자(당첨)
A11_priorityY = A11_priority.ix[A11_priority.W_36 == 'Y']
A11_priorityN = A11_priority.ix[A11_priority.W_36 != 'Y']
## 일반공급 중 건설근로자(탈락)
A11_generalY = A11_general.ix[A11_general.W_36  == 'Y']
A11_generalN = A11_general.ix[A11_general.W_36  != 'Y']

In [3239]:
full_data['건설근로자_3점_당첨'] = len(A11_priorityY)

In [3240]:
full_data['건설근로자_3점_탈락'] = len(A11_generalY)

In [3241]:
full_data['건설근로자_0점_당첨'] = len(A11_priorityN)

In [3242]:
full_data['건설근로자_0점_탈락'] = len(A11_generalN)

##### 청약 불입회수 분리

In [3243]:
not_save_bins = [36,48,60,200] # range 범위 지정
not_save_group_names = ['36회이상', '48회이상', '60회이상'] # 지정할 그룹명
not_save_categories_win = pd.cut(A11_priority['A_46'],  not_save_bins,False, labels=not_save_group_names) # range 변수
not_save_categories_lose = pd.cut(A11_general['A_46'],  not_save_bins,False, labels=not_save_group_names) # range 변수

In [3244]:
A11_priority['not_save_categories_win'] = not_save_categories_win # 우선 청약불입회수
A11_general['not_save_categories_lose'] = not_save_categories_lose # 우선 청약불입회수

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [3245]:
## 우선공급 청약불입회수 구분 (당첨)
A11_priority_36 = A11_priority.ix[A11_priority.not_save_categories_win == '36회이상']
A11_priority_48 = A11_priority.ix[A11_priority.not_save_categories_win == '48회이상']
A11_priority_60 = A11_priority.ix[A11_priority.not_save_categories_win == '60회이상']
## 일반공급 청약불입회수 구분 (탈락)
A11_general_36 = A11_general.ix[A11_general.not_save_categories_lose == '36회이상']
A11_general_48 = A11_general.ix[A11_general.not_save_categories_lose == '48회이상']
A11_general_60 = A11_general.ix[A11_general.not_save_categories_lose == '60회이상']

In [3246]:
full_data['청약저축_60이상_당첨'] = len(A11_priority_60)
full_data['청약저축_60이상_탈락'] = len(A11_general_60)
full_data['청약저축_48이상_당첨'] = len(A11_priority_48)
full_data['청약저축_48이상_탈락'] = len(A11_general_48)
full_data['청약저축_36이상_당첨'] = len(A11_priority_36)
full_data['청약저축_36이상_탈락'] = len(A11_general_36)

In [3247]:
len(A11_general_36)

25

In [3248]:
full_data.청약저축_36이상_당첨

0    7
Name: 청약저축_36이상_당첨, dtype: int64

###### 계약사실 분리 데이터

In [3249]:
## 계약사실 분리 함수
def f(x) :
    if x['W_24'] == -5:
        return "1년이내"
    elif x['W_24'] == -3:
        return "3년이내" 
    else:
        return "해당없음"

In [3250]:
try:
    ## 우선 계약사실(당첨)
    A11_priority['계약사실구분'] = A11_priority.apply(f, axis=1)
except ValueError:
    A11_priority['계약사실구분'] = "해당없음"

try:
    ## 우선 계약사실(당첨)
    A11_general['계약사실구분'] = A11_general.apply(f, axis=1)
except ValueError:
    A11_general['계약사실구분'] = "해당없음"

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

###### 계약사실 데이터 1년이내/3년이내 나누기

In [3251]:
## 우선 1년,3년(당첨)
A11_priority_one = A11_priority.ix[A11_priority.계약사실구분 == "1년이내"]
A11_priority_three = A11_priority.ix[A11_priority.계약사실구분 == "3년이내"]
## 당첨 1년, 3년(탈락)
A11_general_one = A11_general.ix[A11_general.계약사실구분 == "1년이내"]
A11_general_three = A11_general.ix[A11_general.계약사실구분 == "3년이내"]

In [3252]:
full_data['계약사실_1년이내_당첨'] = len(A11_priority_one)

In [3253]:
full_data['계약사실_1년이내_탈락'] = len(A11_general_one)

In [3254]:
full_data['게약사실_3년이내_당첨'] = len(A11_priority_three)

In [3255]:
full_data['게약사실_3년이내_탈락'] = len(A11_general_three)

In [3256]:
if A_24 == '장애인':
    # 우선공급 장애인 등급(당첨)
    A11_priority_one = A11_priority.ix[A11_priority.A_28 == '1급']
    A11_priority_two = A11_priority.ix[A11_priority.A_28 == '2급']
    A11_priority_three = A11_priority.ix[A11_priority.A_28 == '3급']
    A11_priority_four = A11_priority.ix[(A11_priority.A_28 == '4급') | (A11_priority.A_28 == '5급') | (A11_priority.A_28 == '6급')]
    # 일반공급 장애인 등급(탈락)
    A11_general_one = A11_general.ix[A11_general.A_28 == '1급']
    A11_general_two = A11_general.ix[A11_general.A_28 == '2급']
    A11_general_three = A11_general.ix[A11_general.A_28 == '3급']
    A11_general_four = A11_general.ix[(A11_general.A_28 == '4급') | (A11_general.A_28 == '5급') | (A11_general.A_28 == '6급')]
    
    full_data['장애1등급_당첨'] = len(A11_priority_one)
    full_data['장애1등급_탈락'] = len(A11_general_one)
    full_data['장애2등급_당첨'] = len(A11_priority_two)
    full_data['장애2등급_탈락'] = len(A11_general_two)
    full_data['장애3등급_당첨'] = len(A11_priority_three)
    full_data['장애3등급_탈락'] = len(A11_general_three)
    full_data['장애4등급이하_당첨'] = len(A11_priority_four)
    full_data['장애4등급이하_탈락'] = len(A11_general_four)

In [3257]:
if A_24 == '신혼부부':
    ## 우선공급 신혼부부 분류(당첨)
    A11_priority_married_three = A11_priority.ix[A11_priority.W_39 == '1순위']
    A11_priority_married_five = A11_priority.ix[A11_priority.W_39 == '2순위']
    A11_priority_married_dang = A11_priority.ix[A11_priority.W_40 == '당해']
    A11_priority_married_ta = A11_priority.ix[A11_priority.W_40 == '타']
    A11_priority_married_child1 = A11_priority.ix[A11_priority.W_41 == 1]
    A11_priority_married_child2 = A11_priority.ix[A11_priority.W_41 == 2]
    A11_priority_married_child3 = A11_priority.ix[A11_priority.W_41 >= 3]
    ## 일반공급 신혼부부 분류(탈락)
    A11_general_married_three = A11_general.ix[A11_general.W_39 == '1순위']
    A11_general_married_five = A11_general.ix[A11_general.W_39 == '2순위']
    A11_general_married_dang = A11_general.ix[A11_general.W_40 == '당해']
    A11_general_married_ta = A11_general.ix[A11_general.W_40 == '타']
    A11_general_married_child1 = A11_general.ix[A11_general.W_41 == 1]
    A11_general_married_child2 = A11_general.ix[A11_general.W_41 == 2]
    A11_general_married_child3 = A11_general.ix[A11_general.W_41 >= 3]
    
    full_data['결혼3년이내_당첨'] = len(A11_priority_married_three)
    full_data['결혼3년이내_탈락'] = len(A11_general_married_three)
    full_data['결혼5년이내_당첨'] = len(A11_priority_married_five)
    full_data['결혼5년이내_탈락'] = len(A11_general_married_five)
    full_data['당해거주_당첨'] = len(A11_priority_married_dang)
    full_data['당해거주_탈락'] = len(A11_general_married_dang)
    full_data['당해미거주_당첨'] = len(A11_priority_married_ta)
    full_data['당해미거주_탈락'] = len(A11_general_married_ta)
    full_data['자녀수_3_당첨'] = len(A11_priority_married_child3)
    full_data['자녀수_3_탈락'] = len(A11_general_married_child3)
    full_data['자녀수_2_당첨'] = len(A11_priority_married_child2)
    full_data['자녀수_2_탈락'] = len(A11_general_married_child2)
    full_data['자녀수_1_당첨'] = len(A11_priority_married_child1)
    full_data['자녀수_1_탈락'] = len(A11_general_married_child1)

In [3258]:
if A_24 == '3자녀가구':
    ## 우선공급 3자녀구분(당첨)
    A11_priority_parent_care = A11_priority.ix[A11_priority.W_30 =='Y']
    A11_priority_parent_careless = A11_priority.ix[A11_priority.W_30 != 'Y']
    A11_priority_manufac = A11_priority.ix[A11_priority.W_31 == 'Y']
    A11_priority_not_manufac = A11_priority.ix[A11_priority.W_31 != 'Y']
    A11_priority_weekness_o = A11_priority.ix[A11_priority.W_32 == 'Y']
    A11_priority_weekness_x = A11_priority.ix[A11_priority.W_32 != 'Y']
    ## 일반공급 3자녀구분(탈락)
    A11_general_parent_care = A11_general.ix[A11_general.W_30 =='Y']
    A11_general_parent_careless = A11_general.ix[A11_general.W_30 != 'Y']
    A11_general_manufac = A11_general.ix[A11_general.W_31 == 'Y']
    A11_general_not_manufac = A11_general.ix[A11_general.W_31 != 'Y']
    A11_general_weekness_o = A11_general.ix[A11_general.W_32 == 'Y']
    A11_general_weekness_x = A11_general.ix[A11_general.W_32 != 'Y']
    
    full_data['65세부양_당첨'] = len(A11_priority_parent_care)
    full_data['65세부양_탈락'] = len(A11_general_parent_care)
    full_data['65세미부양_당첨'] = len(A11_priority_parent_careless)
    full_data['65세미부양_탈락'] = len(A11_general_parent_careless)
    full_data['제조업종사_당첨'] = len(A11_priority_manufac)
    full_data['제조업종사_탈락'] = len(A11_general_manufac)
    full_data['제조업미종사_당첨'] = len(A11_priority_not_manufac)
    full_data['제조업미종사_탈락'] = len(A11_general_not_manufac)
    full_data['취약계층_당첨'] = len(A11_priority_weekness_o)
    full_data['취약계층_탈락'] = len(A11_general_weekness_o)
    full_data['미취약계층_당첨'] = len(A11_priority_weekness_x)
    full_data['미취약계층_탈락'] = len(A11_general_weekness_x)

In [3264]:
full_data # 잘들어갔는지 확인

,신청인원,커트라인점수,50%이하_당첨,50%이하_탈락,50%초과_당첨,50%초과_탈락,세대주_50세이상_당첨,세대주_50세이상_탈락,세대주_40세이상_당첨,세대주_40세이상_탈락,...,당해거주_당첨,당해거주_탈락,당해미거주_당첨,당해미거주_탈락,자녀수_3_당첨,자녀수_3_탈락,자녀수_2_당첨,자녀수_2_탈락,자녀수_1_당첨,자녀수_1_탈락
0,109,5(70%/1순위/타/자녀2),23,76,2,8,0,0,1,3,...,14,16,11,68,0,0,13,27,12,57

In [3265]:
## 엑셀저장block_nm = '';A_6 = ''; A_11 = '';A_24 = '';
filename = block_nm+"_"+A_6+"_"+A_24+".xlsx"
writer = pd.ExcelWriter(filename)
full_data.to_excel(writer,'Sheet1')
writer.save()

In [3261]:
dc.dbCursor.close()